Contact.json
{"updatedAt":"2026-03-03T20:55:42.589Z","createdAt":"2026-02-28T02:42:11.166Z","id":"Sz8PWvBS7-a5QZJmIYuuK","name":"Contact","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"f5f88035-744b-48a9-8cb5-6533e40d93a2","options":{"allowedOrigins":"*"}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-32,48],"id":"01076785-2cc9-4eef-893c-e70733854556","name":"Webhook","webhookId":"f5f88035-744b-48a9-8cb5-6533e40d93a2"},{"parameters":{"assignments":{"assignments":[{"id":"4444fc42-4de2-48c4-9616-174aaba12f5e","name":"email","value":"={{ $json.body.formData.email }}","type":"string"},{"id":"f5befa24-05a9-49de-80f4-37e1a2e14bbc","name":"subject","value":"={{ $json.body.formData.subject }}","type":"string"},{"id":"e9983924-0854-4357-817b-70c4644bec66","name":"message","value":"=<p>{{ $json.body.formData.message.join('<p/><p>') }}</p>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,-48],"id":"ddf85398-9c39-41fd-a1c7-d022c2a02f75","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-32,-144],"id":"89f31afe-69c9-41be-8003-97229f13e897","name":"When clicking ‘Execute workflow’","disabled":true},{"parameters":{"sendTo":"={{ $json.email }}","subject":"n2continuum :: Contact information received","message":"=<p>Thank you for reaching out to us.</p>\n\n<p>We have received your message and will get back to you as soon as we can.</p>\n\n<p>~ n2continuum</p>","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[416,48],"id":"2c3f2efe-e8a7-4efa-98e1-61f0cf158514","name":"To User","webhookId":"950d4608-8e60-4a79-9b4b-f289b996a07e","credentials":{"gmailOAuth2":{"id":"GKiYYpQvakptVbmM","name":"noreply@n2continuum.com"}}},{"parameters":{"sendTo":"support@n2continuum.com","subject":"=Site Contact :: {{ $json.subject }}","message":"=<p>Client's email: {{ $json.email }}</p>\n\n<p>Message:</p>\n{{ $json.message }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[416,-144],"id":"facc1054-4e24-4856-9173-63461f982666","name":"To Support","webhookId":"f38f5bb4-743d-4a38-99ff-b94a1d6611b8","credentials":{"gmailOAuth2":{"id":"GKiYYpQvakptVbmM","name":"noreply@n2continuum.com"}}}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"To Support","type":"main","index":0},{"node":"To User","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"To Support":{"main":[[]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"5g6Vzy0gs9X7f1j2"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When clicking ‘Execute workflow’":[{"json":{"headers":{"host":"n8n.srv1048712.hstgr.cloud","user-agent":"node","content-length":"157","accept":"*/*","accept-encoding":"br, gzip, deflate","accept-language":"*","content-type":"application/json","sec-fetch-mode":"cors","x-forwarded-for":"172.18.0.1","x-forwarded-host":"n8n.srv1048712.hstgr.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"623b5a2a2295","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"formData":{"email":"anthony.g.camacho@gmail.com","confirmEmail":"anthony.g.camacho@gmail.com","subject":"inquiry","message":["asdfasdf","qwerqwerqwer"],"captcha":"true"}},"webhookUrl":"https://n8n.srv1048712.hstgr.cloud/webhook-test/f5f88035-744b-48a9-8cb5-6533e40d93a2","executionMode":"test"}}],"Webhook":[{"json":{"headers":{"host":"n8n.srv1048712.hstgr.cloud","user-agent":"node","content-length":"157","accept":"*/*","accept-encoding":"br, gzip, deflate","accept-language":"*","content-type":"application/json","sec-fetch-mode":"cors","x-forwarded-for":"172.18.0.1","x-forwarded-host":"n8n.srv1048712.hstgr.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"623b5a2a2295","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"formData":{"email":"anthony.g.camacho@gmail.com","confirmEmail":"anthony.g.camacho@gmail.com","subject":"inquiry","message":["yo yo yo"],"captcha":"true"}},"webhookUrl":"https://n8n.srv1048712.hstgr.cloud/webhook/f5f88035-744b-48a9-8cb5-6533e40d93a2","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"e745c76a-b110-4911-8d2d-35910bcefed8","activeVersionId":"e745c76a-b110-4911-8d2d-35910bcefed8","triggerCount":1,"shared":[{"updatedAt":"2026-02-28T02:42:11.174Z","createdAt":"2026-02-28T02:42:11.174Z","role":"workflow:owner","workflowId":"Sz8PWvBS7-a5QZJmIYuuK","projectId":"g9bJh1TxtXie0yir"}],"activeVersion":{"updatedAt":"2026-03-03T20:55:47.000Z","createdAt":"2026-03-03T20:55:42.590Z","versionId":"e745c76a-b110-4911-8d2d-35910bcefed8","workflowId":"Sz8PWvBS7-a5QZJmIYuuK","nodes":[{"parameters":{"httpMethod":"POST","path":"f5f88035-744b-48a9-8cb5-6533e40d93a2","options":{"allowedOrigins":"*"}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-32,48],"id":"01076785-2cc9-4eef-893c-e70733854556","name":"Webhook","webhookId":"f5f88035-744b-48a9-8cb5-6533e40d93a2"},{"parameters":{"assignments":{"assignments":[{"id":"4444fc42-4de2-48c4-9616-174aaba12f5e","name":"email","value":"={{ $json.body.formData.email }}","type":"string"},{"id":"f5befa24-05a9-49de-80f4-37e1a2e14bbc","name":"subject","value":"={{ $json.body.formData.subject }}","type":"string"},{"id":"e9983924-0854-4357-817b-70c4644bec66","name":"message","value":"=<p>{{ $json.body.formData.message.join('<p/><p>') }}</p>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,-48],"id":"ddf85398-9c39-41fd-a1c7-d022c2a02f75","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-32,-144],"id":"89f31afe-69c9-41be-8003-97229f13e897","name":"When clicking ‘Execute workflow’","disabled":true},{"parameters":{"sendTo":"={{ $json.email }}","subject":"n2continuum :: Contact information received","message":"=<p>Thank you for reaching out to us.</p>\n\n<p>We have received your message and will get back to you as soon as we can.</p>\n\n<p>~ n2continuum</p>","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[416,48],"id":"2c3f2efe-e8a7-4efa-98e1-61f0cf158514","name":"To User","webhookId":"950d4608-8e60-4a79-9b4b-f289b996a07e","credentials":{"gmailOAuth2":{"id":"GKiYYpQvakptVbmM","name":"noreply@n2continuum.com"}}},{"parameters":{"sendTo":"support@n2continuum.com","subject":"=Site Contact :: {{ $json.subject }}","message":"=<p>Client's email: {{ $json.email }}</p>\n\n<p>Message:</p>\n{{ $json.message }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[416,-144],"id":"facc1054-4e24-4856-9173-63461f982666","name":"To Support","webhookId":"f38f5bb4-743d-4a38-99ff-b94a1d6611b8","credentials":{"gmailOAuth2":{"id":"GKiYYpQvakptVbmM","name":"noreply@n2continuum.com"}}}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"To Support","type":"main","index":0},{"node":"To User","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"To Support":{"main":[[]]}},"authors":"Anthony Camacho","name":"Version e745c76a","description":"","autosaved":true},"tags":[{"updatedAt":"2026-03-03T06:37:46.945Z","createdAt":"2026-03-03T06:37:46.945Z","id":"tOLnhzYQwKmiZh7P","name":"n2continuum"}]}