GitHub-Backup-n2continuum.json
{"updatedAt":"2026-03-04T05:47:34.098Z","createdAt":"2026-02-24T20:11:11.641Z","id":"i6c1TnRvaZB3yZskRhnZx","name":"GitHub Backup n2continuum","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"a71f5de1-e19e-4adf-bdf2-ddb6a078d6f2","name":"=workflowString","value":"={{ $json.toJsonString() }}","type":"string"},{"id":"c58c73a4-d722-443a-842b-d178c249b055","name":"=filename","value":"={{ $json.name.split(' ').join('-') }}.json","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-256,160],"id":"74e4173c-4110-4b55-a7ff-51c0ff9402e4","name":"Edit Fields"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"https://github.com/n2clightclub","mode":"url"},"repository":{"__rl":true,"value":"n8n_n2continuum","mode":"list","cachedResultName":"n8n_n2continuum","cachedResultUrl":"https://github.com/n2clightclub/n8n_n2continuum"},"filePath":"={{ $('Folder Mapping').item.json.folderPath.folderPath }}{{ $('Edit Fields').item.json.filename }}","fileContent":"={{ $('Get many workflows').item.json.toJsonString().base64Encode() }}","commitMessage":"building"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[640,232],"id":"16dbb2aa-f9b1-4274-bf35-e6b22af9c8d3","name":"Create a file","webhookId":"a0ab8537-15d6-4dc7-a03b-587d9088fcd8","credentials":{"githubApi":{"id":"f3tZkzygARuHmhpe","name":"n2clightclub"}}},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"https://github.com/n2clightclub","mode":"url"},"repository":{"__rl":true,"value":"n8n_n2continuum","mode":"list","cachedResultName":"n8n_n2continuum","cachedResultUrl":"https://github.com/n2clightclub/n8n_n2continuum"},"filePath":"={{ $json.folderPath.folderPath }}{{ $('Edit Fields').item.json.filename }}","asBinaryProperty":false,"additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[192,160],"id":"890069b6-59ee-4abd-914f-235fbb163908","name":"Get a file","webhookId":"ab0902e5-cd39-490c-8d8b-a88a9102d9a9","alwaysOutputData":true,"credentials":{"githubApi":{"id":"f3tZkzygARuHmhpe","name":"n2clightclub"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/n2clightclub","mode":"url"},"repository":{"__rl":true,"value":"n8n_n2continuum","mode":"list","cachedResultName":"n8n_n2continuum","cachedResultUrl":"https://github.com/n2clightclub/n8n_n2continuum"},"filePath":"={{ $('Folder Mapping').item.json.folderPath.folderPath }}{{ $('Edit Fields').item.json.filename }}","fileContent":"={{ $('Edit Fields').item.json.workflowString }}","commitMessage":"building"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[640,424],"id":"817aa248-6b6a-451e-95c3-60fcbdb084b3","name":"Edit a file","webhookId":"260a052c-af91-4a57-bc87-0b192193e0a1","credentials":{"githubApi":{"id":"f3tZkzygARuHmhpe","name":"n2clightclub"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-928,232],"id":"4ea2ec1e-e1df-4a14-887f-acce897e3537","name":"When clicking ‘Execute workflow’"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-480,232],"id":"341ff4a3-7952-438b-9ff7-98471824558e","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-256,-32],"id":"4282de7d-4dba-4478-a282-0b033a08e1e8","name":"No Operation, do nothing"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"15510c4c-6f59-40ea-9c10-59fc782f803e","leftValue":"={{ $json.error }}","rightValue":"=","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[416,160],"id":"aba81da9-4d09-4ad7-b3f7-4cba3cb40083","name":"If File Does Not Exist"},{"parameters":{"jsCode":"const map = {\n  \"i6c1TnRvaZB3yZskRhnZx\": {\n    \"name\": \"GitHub Backup n2continuum\",\n    \"folderPath\": \"\",\n  },\n  \"fcegvn1n2RzJ1upk\": {\n    \"name\": \"Events onCancelation\",\n    \"folderPath\": \"email-messaging/\",\n  },\n  \"VGEx1PwX3iy6LVo3\": {\n    \"name\": \"Events onComment\",\n    \"folderPath\": \"email-messaging/\",\n  },\n  \"8Tx2hwqgKRYQtTH1\": {\n    \"name\": \"Events onCreated\",\n    \"folderPath\": \"email-messaging/\",\n  },\n  \"XU8mMNVvE4TJYL2Q\": {\n    \"name\": \"Events onRSVP\",\n    \"folderPath\": \"email-messaging/\",\n  },\n  \"XXHQc1daiyiMgovV\": {\n    \"name\": \"Events onUpdate\",\n    \"folderPath\": \"email-messaging/\",\n  },\n  \"WXPaXfhYETwhufyZITOCQ\": {\n    \"name\": \"Events Reminder\",\n    \"folderPath\": \"email-messaging/\",\n  },\n  \"wWct9J3RMYGQq2HaUm_nt\": {\n    \"name\": \"New Company Welcome Email\",\n    \"folderPath\": \"email-messaging/\",\n  },\n  \"-hqSYOkemfx7V6yOrm39_\": {\n    \"name\": \"New User Welcome Email\",\n    \"folderPath\": \"email-messaging/\",\n  },\n  \"m934DPOXJpZtMwVC9XPXE\": {\n    \"name\": \"Services Verify Email Response\",\n    \"folderPath\": \"email-messaging/\",\n  }\n}\n\nlet folderPath = map[$('Loop Over Items').first().json.id]\n\nreturn {folderPath};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-32,160],"id":"24fc46a2-1644-459e-9999-e2b0e4c545cf","name":"Folder Mapping"},{"parameters":{"filters":{"tags":"n2continuum"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-704,232],"id":"b02764ad-3d2d-4db8-b63b-b2fbcc0184fe","name":"Get many workflows","credentials":{"n8nApi":{"id":"s5zmAANP6bR6JhUh","name":"n8n account"}}}],"connections":{"Edit Fields":{"main":[[{"node":"Folder Mapping","type":"main","index":0}]]},"Create a file":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"If File Does Not Exist","type":"main","index":0}]]},"Edit a file":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"If File Does Not Exist":{"main":[[{"node":"Create a file","type":"main","index":0}],[{"node":"Edit a file","type":"main","index":0}]]},"Folder Mapping":{"main":[[{"node":"Get a file","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cf81c0fc-0d55-497e-8bb7-654f99b49c63","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-24T20:11:11.653Z","createdAt":"2026-02-24T20:11:11.653Z","role":"workflow:owner","workflowId":"i6c1TnRvaZB3yZskRhnZx","projectId":"g9bJh1TxtXie0yir"}],"activeVersion":null,"tags":[{"updatedAt":"2026-03-03T06:37:46.945Z","createdAt":"2026-03-03T06:37:46.945Z","id":"tOLnhzYQwKmiZh7P","name":"n2continuum"}]}