n2continuum-General-Error-Handler.json
{"updatedAt":"2026-03-03T19:56:59.650Z","createdAt":"2025-10-27T03:55:41.210Z","id":"5g6Vzy0gs9X7f1j2","name":"n2continuum General Error Handler","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,-32],"id":"4a3fc093-cb9f-4908-98d0-130c62f6112c","name":"Error Trigger"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1guVOe7dkamHYLr7bh85qliZwsOHcROGlEC5LKfyaWdg","mode":"list","cachedResultName":"n2continuum Email List","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1guVOe7dkamHYLr7bh85qliZwsOHcROGlEC5LKfyaWdg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1898116413,"mode":"list","cachedResultName":"Error Log","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1guVOe7dkamHYLr7bh85qliZwsOHcROGlEC5LKfyaWdg/edit#gid=1898116413"},"columns":{"mappingMode":"defineBelow","value":{"Workflow":"={{ $json.workflow.name }}","URL":"={{ $json.execution.url }}","Node":"={{ $json.execution.mode }}","Error Message":"={{ $json.execution.error.message }}","Timestamp":"={{ $now.format('yyyy-MM-dd HH:mm') }}"},"matchingColumns":[],"schema":[{"id":"Timestamp","displayName":"Timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Workflow","displayName":"Workflow","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"URL","displayName":"URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Node","displayName":"Node","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Error Message","displayName":"Error Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[224,-128],"id":"1cb79ead-fa3c-4797-acc1-4e645d975a1f","name":"Error Log","credentials":{"googleSheetsOAuth2Api":{"id":"nAkYazKUoYQSAE5Z","name":"anthony.g.camacho@gmail.com"}}},{"parameters":{"sendTo":"anthony.g.camacho@gmail.com","subject":"=n8n Error:  {{ $json.workflow.name }} - {{ $now.format('yyyy-MM-dd') }}","message":"=Workflow Name: <b>{{ $json.workflow.name }}</b>\n\n<br />\n\nError Message: <b>{{ $json.execution.error.message }}</b>\n\n<br />\n\nDate / Time: <b>{{ $now.format('yyyy-MM-dd HH:mm') }}</b>\n\n<br />\n\nURL: <b>{{ $json.execution.url }}</b>","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[224,96],"id":"a6bd6199-9328-4030-b01e-918ffb23c7cc","name":"Send a message","webhookId":"66b08b09-275d-4cfa-9b76-21e94a6bc568","credentials":{"gmailOAuth2":{"id":"jK2C0xSJm4A4tUSz","name":"anthony.g.camacho@gmail.com"}}}],"connections":{"Error Trigger":{"main":[[{"node":"Error Log","type":"main","index":0},{"node":"Send a message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Los_Angeles","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d4ffec14-553d-467d-800a-fd00a7d283e3","activeVersionId":"d4ffec14-553d-467d-800a-fd00a7d283e3","triggerCount":0,"shared":[{"updatedAt":"2025-10-27T03:55:41.212Z","createdAt":"2025-10-27T03:55:41.212Z","role":"workflow:owner","workflowId":"5g6Vzy0gs9X7f1j2","projectId":"g9bJh1TxtXie0yir"}],"activeVersion":{"updatedAt":"2026-01-16T04:26:35.941Z","createdAt":"2026-01-16T04:26:35.941Z","versionId":"d4ffec14-553d-467d-800a-fd00a7d283e3","workflowId":"5g6Vzy0gs9X7f1j2","nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,-32],"id":"4a3fc093-cb9f-4908-98d0-130c62f6112c","name":"Error Trigger"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1guVOe7dkamHYLr7bh85qliZwsOHcROGlEC5LKfyaWdg","mode":"list","cachedResultName":"n2continuum Email List","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1guVOe7dkamHYLr7bh85qliZwsOHcROGlEC5LKfyaWdg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1898116413,"mode":"list","cachedResultName":"Error Log","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1guVOe7dkamHYLr7bh85qliZwsOHcROGlEC5LKfyaWdg/edit#gid=1898116413"},"columns":{"mappingMode":"defineBelow","value":{"Workflow":"={{ $json.workflow.name }}","URL":"={{ $json.execution.url }}","Node":"={{ $json.execution.mode }}","Error Message":"={{ $json.execution.error.message }}","Timestamp":"={{ $now.format('yyyy-MM-dd HH:mm') }}"},"matchingColumns":[],"schema":[{"id":"Timestamp","displayName":"Timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Workflow","displayName":"Workflow","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"URL","displayName":"URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Node","displayName":"Node","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Error Message","displayName":"Error Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[224,-128],"id":"1cb79ead-fa3c-4797-acc1-4e645d975a1f","name":"Error Log","credentials":{"googleSheetsOAuth2Api":{"id":"nAkYazKUoYQSAE5Z","name":"anthony.g.camacho@gmail.com"}}},{"parameters":{"sendTo":"anthony.g.camacho@gmail.com","subject":"=n8n Error:  {{ $json.workflow.name }} - {{ $now.format('yyyy-MM-dd') }}","message":"=Workflow Name: <b>{{ $json.workflow.name }}</b>\n\n<br />\n\nError Message: <b>{{ $json.execution.error.message }}</b>\n\n<br />\n\nDate / Time: <b>{{ $now.format('yyyy-MM-dd HH:mm') }}</b>\n\n<br />\n\nURL: <b>{{ $json.execution.url }}</b>","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[224,96],"id":"a6bd6199-9328-4030-b01e-918ffb23c7cc","name":"Send a message","webhookId":"66b08b09-275d-4cfa-9b76-21e94a6bc568","credentials":{"gmailOAuth2":{"id":"jK2C0xSJm4A4tUSz","name":"anthony.g.camacho@gmail.com"}}}],"connections":{"Error Trigger":{"main":[[{"node":"Error Log","type":"main","index":0},{"node":"Send a message","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[{"updatedAt":"2026-03-03T06:37:46.945Z","createdAt":"2026-03-03T06:37:46.945Z","id":"tOLnhzYQwKmiZh7P","name":"n2continuum"}]}