Report.json
{"updatedAt":"2026-03-03T20:58:03.839Z","createdAt":"2026-02-28T02:42:23.565Z","id":"DNLPI8Sw3xpMzZlvHxuQs","name":"Report","active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"4444fc42-4de2-48c4-9616-174aaba12f5e","name":"email","value":"={{ $json.body.formData.email }}","type":"string"},{"id":"78cc0b53-1060-4e42-a94c-03ce414524fb","name":"type","value":"={{ $json.body.formData.type }}","type":"string"},{"id":"c893a32e-5694-4b2c-a6f9-3bc74c9a9cee","name":"username","value":"={{ $json.body.formData.username }}","type":"string"},{"id":"d1c814ad-a03d-4715-94cb-4f79d8886da8","name":"idOfReported","value":"={{ $json.body.formData.idOfReported }}","type":"string"},{"id":"e9983924-0854-4357-817b-70c4644bec66","name":"message","value":"=<p>{{ $json.body.formData.message.join('<p/><p>') }}</p>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-176,144],"id":"4039d2f4-9225-4628-b7e5-6ec4d79ddf7a","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-400,48],"id":"379c86b7-a6fe-4143-b10f-c2d56b468ed9","name":"When clicking ‘Execute workflow’","disabled":true},{"parameters":{"sendTo":"={{ $json.email }}","subject":"n2continuum :: Report information received","message":"=<p>Thank you for reaching out to us.</p>\n\n<p>We have received your message and will get back to you as soon as we can.</p>\n\n<p>~ n2continuum</p>","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[48,240],"id":"609a3a98-0b79-484f-b8aa-5742922895dd","name":"To User","webhookId":"950d4608-8e60-4a79-9b4b-f289b996a07e","credentials":{"gmailOAuth2":{"id":"GKiYYpQvakptVbmM","name":"noreply@n2continuum.com"}}},{"parameters":{"sendTo":"support@n2continuum.com","subject":"=Site :: Report {{ $json.type }}","message":"=<p>\nClient's email: {{ $json.email }}<br />\nUsername: {{ $json.username }}<br />\nId Type of Reported: {{ $json.type }}<br />\nId of Reported: {{ $json.idOfReported }}\n</p>\n\n<p>Message:</p>\n{{ $json.message }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[48,48],"id":"05be3eb5-de90-4a2a-a51c-73b2d7f6d0fa","name":"To Support","webhookId":"f38f5bb4-743d-4a38-99ff-b94a1d6611b8","credentials":{"gmailOAuth2":{"id":"GKiYYpQvakptVbmM","name":"noreply@n2continuum.com"}}},{"parameters":{"httpMethod":"POST","path":"ef149f93-7b42-43b1-b9c0-779555a0dd2a","options":{"allowedOrigins":"*"}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-400,240],"id":"a8283fd1-cb44-4742-a338-92c9b704af22","name":"Webhook","webhookId":"ef149f93-7b42-43b1-b9c0-779555a0dd2a"}],"connections":{"Edit Fields":{"main":[[{"node":"To Support","type":"main","index":0},{"node":"To User","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"5g6Vzy0gs9X7f1j2"},"staticData":null,"meta":null,"pinData":{"When clicking ‘Execute workflow’":[{"json":{"headers":{"host":"n8n.srv1048712.hstgr.cloud","user-agent":"node","content-length":"198","accept":"*/*","accept-encoding":"br, gzip, deflate","accept-language":"*","content-type":"application/json","sec-fetch-mode":"cors","x-forwarded-for":"172.18.0.1","x-forwarded-host":"n8n.srv1048712.hstgr.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"623b5a2a2295","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"formData":{"email":"anthony.g.camacho@gmail.com","confirmEmail":"anthony.g.camacho@gmail.com","username":"agcamacho","idOfReported":"farthead","type":"user","message":["ASDFASDF"],"captcha":"true"}},"webhookUrl":"https://n8n.srv1048712.hstgr.cloud/webhook-test/ef149f93-7b42-43b1-b9c0-779555a0dd2a","executionMode":"test"}}]},"versionId":"47ecb40e-2793-46ac-a1be-7027f648be82","activeVersionId":"47ecb40e-2793-46ac-a1be-7027f648be82","triggerCount":1,"shared":[{"updatedAt":"2026-02-28T02:42:23.570Z","createdAt":"2026-02-28T02:42:23.570Z","role":"workflow:owner","workflowId":"DNLPI8Sw3xpMzZlvHxuQs","projectId":"g9bJh1TxtXie0yir"}],"activeVersion":{"updatedAt":"2026-03-03T20:58:07.000Z","createdAt":"2026-03-03T20:58:03.840Z","versionId":"47ecb40e-2793-46ac-a1be-7027f648be82","workflowId":"DNLPI8Sw3xpMzZlvHxuQs","nodes":[{"parameters":{"assignments":{"assignments":[{"id":"4444fc42-4de2-48c4-9616-174aaba12f5e","name":"email","value":"={{ $json.body.formData.email }}","type":"string"},{"id":"78cc0b53-1060-4e42-a94c-03ce414524fb","name":"type","value":"={{ $json.body.formData.type }}","type":"string"},{"id":"c893a32e-5694-4b2c-a6f9-3bc74c9a9cee","name":"username","value":"={{ $json.body.formData.username }}","type":"string"},{"id":"d1c814ad-a03d-4715-94cb-4f79d8886da8","name":"idOfReported","value":"={{ $json.body.formData.idOfReported }}","type":"string"},{"id":"e9983924-0854-4357-817b-70c4644bec66","name":"message","value":"=<p>{{ $json.body.formData.message.join('<p/><p>') }}</p>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-176,144],"id":"4039d2f4-9225-4628-b7e5-6ec4d79ddf7a","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-400,48],"id":"379c86b7-a6fe-4143-b10f-c2d56b468ed9","name":"When clicking ‘Execute workflow’","disabled":true},{"parameters":{"sendTo":"={{ $json.email }}","subject":"n2continuum :: Report information received","message":"=<p>Thank you for reaching out to us.</p>\n\n<p>We have received your message and will get back to you as soon as we can.</p>\n\n<p>~ n2continuum</p>","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[48,240],"id":"609a3a98-0b79-484f-b8aa-5742922895dd","name":"To User","webhookId":"950d4608-8e60-4a79-9b4b-f289b996a07e","credentials":{"gmailOAuth2":{"id":"GKiYYpQvakptVbmM","name":"noreply@n2continuum.com"}}},{"parameters":{"sendTo":"support@n2continuum.com","subject":"=Site :: Report {{ $json.type }}","message":"=<p>\nClient's email: {{ $json.email }}<br />\nUsername: {{ $json.username }}<br />\nId Type of Reported: {{ $json.type }}<br />\nId of Reported: {{ $json.idOfReported }}\n</p>\n\n<p>Message:</p>\n{{ $json.message }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[48,48],"id":"05be3eb5-de90-4a2a-a51c-73b2d7f6d0fa","name":"To Support","webhookId":"f38f5bb4-743d-4a38-99ff-b94a1d6611b8","credentials":{"gmailOAuth2":{"id":"GKiYYpQvakptVbmM","name":"noreply@n2continuum.com"}}},{"parameters":{"httpMethod":"POST","path":"ef149f93-7b42-43b1-b9c0-779555a0dd2a","options":{"allowedOrigins":"*"}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-400,240],"id":"a8283fd1-cb44-4742-a338-92c9b704af22","name":"Webhook","webhookId":"ef149f93-7b42-43b1-b9c0-779555a0dd2a"}],"connections":{"Edit Fields":{"main":[[{"node":"To Support","type":"main","index":0},{"node":"To User","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"authors":"Anthony Camacho","name":"Version 47ecb40e","description":"","autosaved":true},"tags":[{"updatedAt":"2026-03-03T06:37:46.945Z","createdAt":"2026-03-03T06:37:46.945Z","id":"tOLnhzYQwKmiZh7P","name":"n2continuum"}]}