Support.json
{"updatedAt":"2026-03-03T20:58:50.274Z","createdAt":"2026-02-28T02:42:35.829Z","id":"P-fk3H11a8S-de7tJ5BKk","name":"Support","active":true,"isArchived":false,"nodes":[{"parameters":{"sendTo":"={{ $json.email }}","subject":"n2continuum :: Support information received","message":"=<p>Thank you for reaching out to our Support Team.</p>\n\n<p>We have received your message and will get back to you as soon as we can.</p>\n\n<p>~ n2continuum</p>","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[176,400],"id":"560ee8d9-53ac-4af3-8fd3-2b0199b5c6be","name":"To User","webhookId":"950d4608-8e60-4a79-9b4b-f289b996a07e","credentials":{"gmailOAuth2":{"id":"GKiYYpQvakptVbmM","name":"noreply@n2continuum.com"}}},{"parameters":{"httpMethod":"POST","path":"83847fc9-fc43-4fb1-9a74-6f98227bf91f","options":{"allowedOrigins":"*"}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-272,384],"id":"5fee1a3f-2b8d-47b2-8c79-a9ca0885e102","name":"Webhook","webhookId":"83847fc9-fc43-4fb1-9a74-6f98227bf91f"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.subject }}","rightValue":"error","operator":{"type":"string","operation":"equals"},"id":"bf40bc6e-8a77-467d-b65b-974f1adb4c22"}],"combinator":"and"},"renameOutput":true,"outputKey":"error"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"c31ea102-d59d-4a6b-bb98-5438bc525dba","leftValue":"={{ $json.subject }}","rightValue":"account","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"account"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"cda7b9ab-38b7-46c4-bcfa-de902f4acdfa","leftValue":"={{ $json.subject }}","rightValue":"other","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"other"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ccaa36ea-e480-41b5-9308-dd60166415dd","leftValue":"={{ $json.subject }}","rightValue":"contentcreator","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"contentcreator"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[176,144],"id":"61225264-02f2-44fe-ad91-e5cb1f1f1795","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"4444fc42-4de2-48c4-9616-174aaba12f5e","name":"email","value":"={{ $json.body.formData.email }}","type":"string"},{"id":"f5befa24-05a9-49de-80f4-37e1a2e14bbc","name":"subject","value":"={{ $json.body.formData.subject }}","type":"string"},{"id":"e9983924-0854-4357-817b-70c4644bec66","name":"message","value":"=<p>{{ $json.body.formData.message.join('<p/><p>') }}</p>","type":"string"},{"id":"7d0b6814-4f79-4c96-9ecf-912a92f325f2","name":"username","value":"={{ $json.body.formData.username }}","type":"string"},{"id":"89bd712e-ecbd-43c2-ad9c-463f39d0cc67","name":"companyId","value":"={{ $json.body.formData.companyId }}","type":"string"},{"id":"f5f22856-94aa-40c0-bdb2-ba068e883342","name":"youtubeRumbleId","value":"={{ $json.body.formData.youtubeRumbleId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-48,288],"id":"9c70e39f-5a17-44ea-8e49-5028c4630cca","name":"Edit Fields"},{"parameters":{"sendTo":"support@n2continuum.com","subject":"=Site Support :: {{ $json.subject }}","message":"=<p>\nClient's email: {{ $json.email }}<br />\nUsername: {{ $json.username }}<br />\n</p>\n\n<p>Message:</p>\n{{ $json.message }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[400,80],"id":"637ad0f4-e83c-4573-9737-a6b23e7de937","name":"To Support: Error, Account, Other","webhookId":"f38f5bb4-743d-4a38-99ff-b94a1d6611b8","credentials":{"gmailOAuth2":{"id":"GKiYYpQvakptVbmM","name":"noreply@n2continuum.com"}}},{"parameters":{"sendTo":"support@n2continuum.com","subject":"=Site Support :: {{ $json.subject }}","message":"=<p>\nClient's email: {{ $json.email }}<br />\nUsername: {{ $json.username }}<br />\nCompany Page: <a href=\"https://n2continuum.com/co/{{ $json.companyId }}\" target=\"_blank\">https://n2continuum.com/co/ {{ $json.companyId }}</a><br />\nYouTube: <a href=\"https://youtube.com/channel/{{ $json.youtubeRumbleId }}\" target=\"_blank\">https://youtube.com/channel/{{ $json.youtubeRumbleId }}</a>\n</p>\n\n<p>Message:</p>\n{{ $json.message }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[400,272],"id":"39b4e682-7d9d-4ace-8125-e9e60e9af842","name":"To Support: Content Creator","webhookId":"f38f5bb4-743d-4a38-99ff-b94a1d6611b8","credentials":{"gmailOAuth2":{"id":"GKiYYpQvakptVbmM","name":"noreply@n2continuum.com"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-272,192],"id":"88b7a1ab-0de1-46e0-ac66-14e2017c29e1","name":"When clicking ‘Execute workflow’","disabled":true}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Switch":{"main":[[{"node":"To Support: Error, Account, Other","type":"main","index":0}],[{"node":"To Support: Error, Account, Other","type":"main","index":0}],[{"node":"To Support: Error, Account, Other","type":"main","index":0}],[{"node":"To Support: Content Creator","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Switch","type":"main","index":0},{"node":"To User","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"5g6Vzy0gs9X7f1j2"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"60e48d43-38ed-43ed-bacf-57c4afde6828","activeVersionId":"60e48d43-38ed-43ed-bacf-57c4afde6828","triggerCount":1,"shared":[{"updatedAt":"2026-02-28T02:42:35.834Z","createdAt":"2026-02-28T02:42:35.834Z","role":"workflow:owner","workflowId":"P-fk3H11a8S-de7tJ5BKk","projectId":"g9bJh1TxtXie0yir"}],"activeVersion":{"updatedAt":"2026-03-03T20:58:53.000Z","createdAt":"2026-03-03T20:58:50.275Z","versionId":"60e48d43-38ed-43ed-bacf-57c4afde6828","workflowId":"P-fk3H11a8S-de7tJ5BKk","nodes":[{"parameters":{"sendTo":"={{ $json.email }}","subject":"n2continuum :: Support information received","message":"=<p>Thank you for reaching out to our Support Team.</p>\n\n<p>We have received your message and will get back to you as soon as we can.</p>\n\n<p>~ n2continuum</p>","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[176,400],"id":"560ee8d9-53ac-4af3-8fd3-2b0199b5c6be","name":"To User","webhookId":"950d4608-8e60-4a79-9b4b-f289b996a07e","credentials":{"gmailOAuth2":{"id":"GKiYYpQvakptVbmM","name":"noreply@n2continuum.com"}}},{"parameters":{"httpMethod":"POST","path":"83847fc9-fc43-4fb1-9a74-6f98227bf91f","options":{"allowedOrigins":"*"}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-272,384],"id":"5fee1a3f-2b8d-47b2-8c79-a9ca0885e102","name":"Webhook","webhookId":"83847fc9-fc43-4fb1-9a74-6f98227bf91f"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.subject }}","rightValue":"error","operator":{"type":"string","operation":"equals"},"id":"bf40bc6e-8a77-467d-b65b-974f1adb4c22"}],"combinator":"and"},"renameOutput":true,"outputKey":"error"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"c31ea102-d59d-4a6b-bb98-5438bc525dba","leftValue":"={{ $json.subject }}","rightValue":"account","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"account"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"cda7b9ab-38b7-46c4-bcfa-de902f4acdfa","leftValue":"={{ $json.subject }}","rightValue":"other","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"other"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ccaa36ea-e480-41b5-9308-dd60166415dd","leftValue":"={{ $json.subject }}","rightValue":"contentcreator","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"contentcreator"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[176,144],"id":"61225264-02f2-44fe-ad91-e5cb1f1f1795","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"4444fc42-4de2-48c4-9616-174aaba12f5e","name":"email","value":"={{ $json.body.formData.email }}","type":"string"},{"id":"f5befa24-05a9-49de-80f4-37e1a2e14bbc","name":"subject","value":"={{ $json.body.formData.subject }}","type":"string"},{"id":"e9983924-0854-4357-817b-70c4644bec66","name":"message","value":"=<p>{{ $json.body.formData.message.join('<p/><p>') }}</p>","type":"string"},{"id":"7d0b6814-4f79-4c96-9ecf-912a92f325f2","name":"username","value":"={{ $json.body.formData.username }}","type":"string"},{"id":"89bd712e-ecbd-43c2-ad9c-463f39d0cc67","name":"companyId","value":"={{ $json.body.formData.companyId }}","type":"string"},{"id":"f5f22856-94aa-40c0-bdb2-ba068e883342","name":"youtubeRumbleId","value":"={{ $json.body.formData.youtubeRumbleId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-48,288],"id":"9c70e39f-5a17-44ea-8e49-5028c4630cca","name":"Edit Fields"},{"parameters":{"sendTo":"support@n2continuum.com","subject":"=Site Support :: {{ $json.subject }}","message":"=<p>\nClient's email: {{ $json.email }}<br />\nUsername: {{ $json.username }}<br />\n</p>\n\n<p>Message:</p>\n{{ $json.message }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[400,80],"id":"637ad0f4-e83c-4573-9737-a6b23e7de937","name":"To Support: Error, Account, Other","webhookId":"f38f5bb4-743d-4a38-99ff-b94a1d6611b8","credentials":{"gmailOAuth2":{"id":"GKiYYpQvakptVbmM","name":"noreply@n2continuum.com"}}},{"parameters":{"sendTo":"support@n2continuum.com","subject":"=Site Support :: {{ $json.subject }}","message":"=<p>\nClient's email: {{ $json.email }}<br />\nUsername: {{ $json.username }}<br />\nCompany Page: <a href=\"https://n2continuum.com/co/{{ $json.companyId }}\" target=\"_blank\">https://n2continuum.com/co/ {{ $json.companyId }}</a><br />\nYouTube: <a href=\"https://youtube.com/channel/{{ $json.youtubeRumbleId }}\" target=\"_blank\">https://youtube.com/channel/{{ $json.youtubeRumbleId }}</a>\n</p>\n\n<p>Message:</p>\n{{ $json.message }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[400,272],"id":"39b4e682-7d9d-4ace-8125-e9e60e9af842","name":"To Support: Content Creator","webhookId":"f38f5bb4-743d-4a38-99ff-b94a1d6611b8","credentials":{"gmailOAuth2":{"id":"GKiYYpQvakptVbmM","name":"noreply@n2continuum.com"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-272,192],"id":"88b7a1ab-0de1-46e0-ac66-14e2017c29e1","name":"When clicking ‘Execute workflow’","disabled":true}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Switch":{"main":[[{"node":"To Support: Error, Account, Other","type":"main","index":0}],[{"node":"To Support: Error, Account, Other","type":"main","index":0}],[{"node":"To Support: Error, Account, Other","type":"main","index":0}],[{"node":"To Support: Content Creator","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Switch","type":"main","index":0},{"node":"To User","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"authors":"Anthony Camacho","name":"Version 60e48d43","description":"","autosaved":true},"tags":[{"updatedAt":"2026-03-03T06:37:46.945Z","createdAt":"2026-03-03T06:37:46.945Z","id":"tOLnhzYQwKmiZh7P","name":"n2continuum"}]}