YouTube-Interview.json
{"updatedAt":"2026-03-03T20:57:00.526Z","createdAt":"2026-02-28T02:43:10.505Z","id":"cRr1prBsVhVd7Pi6bSuPd","name":"YouTube Interview","active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"4444fc42-4de2-48c4-9616-174aaba12f5e","name":"email","value":"={{ $json.body.formData.email }}","type":"string"},{"id":"efcb210d-8954-4414-bbc5-050038a060b7","name":"username","value":"={{ $json.body.formData.username }}","type":"string"},{"id":"0a67562f-9474-4642-b1e5-59ff30f46e50","name":"companyPage","value":"={{ $json.body.formData.n2cCompanyPage }}","type":"string"},{"id":"9ff38027-ba62-4af8-b24c-d83db7e00d52","name":"companyWebsite","value":"={{ $json.body.formData.companyWebsite }}","type":"string"},{"id":"e9983924-0854-4357-817b-70c4644bec66","name":"message","value":"=<p>{{ $json.body.formData.message.join('<p/><p>') }}</p>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,-32],"id":"75b0e9e7-c34d-4aa0-8b50-2a520b26d77b","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-16,-128],"id":"374a29d6-cffe-4fce-86e2-088b30d406ca","name":"When clicking ‘Execute workflow’","disabled":true},{"parameters":{"sendTo":"={{ $json.email }}","subject":"n2continuum :: YouTube Interview information received","message":"=<p>Thank you for reaching out to us for an interview on our YouTube channel.</p>\n\n<p>We have received your message and will get back to you as soon as we can.</p>\n\n<p>~ n2continuum</p>","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[432,64],"id":"a6456c68-efb9-44b2-9460-3b36f5163579","name":"To User","webhookId":"950d4608-8e60-4a79-9b4b-f289b996a07e","credentials":{"gmailOAuth2":{"id":"GKiYYpQvakptVbmM","name":"noreply@n2continuum.com"}}},{"parameters":{"sendTo":"support@n2continuum.com","subject":"=Site :: YouTube Interview","message":"=<p>\nClient's email: {{ $json.email }}<br />\nUsername: {{ $json.username }}<br />\nCompany page: <a href=\"https://n2continuum.com/co/{{ $json.companyPage }}\">https://n2continuum.com/co/{{ $json.companyPage }}</a><br />\nCompany website: <a href=\"https://{{ $json.companyWebsite }}\">https://{{ $json.companyWebsite }}</a>\n</p>\n\n<p>Message:</p>\n{{ $json.message }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[432,-128],"id":"b013606b-d435-4801-8ac4-10fb08f7f63d","name":"To Support","webhookId":"f38f5bb4-743d-4a38-99ff-b94a1d6611b8","credentials":{"gmailOAuth2":{"id":"GKiYYpQvakptVbmM","name":"noreply@n2continuum.com"}}},{"parameters":{"httpMethod":"POST","path":"b84c616a-1046-477d-8eaa-99640cb5f27a","options":{"allowedOrigins":"*"}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-16,64],"id":"2c429927-0cb1-49fd-9d67-8c2726eafaab","name":"Webhook","webhookId":"b84c616a-1046-477d-8eaa-99640cb5f27a"}],"connections":{"Edit Fields":{"main":[[{"node":"To Support","type":"main","index":0},{"node":"To User","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{"When clicking ‘Execute workflow’":[{"json":{"headers":{"host":"n8n.srv1048712.hstgr.cloud","user-agent":"node","content-length":"233","accept":"*/*","accept-encoding":"br, gzip, deflate","accept-language":"*","content-type":"application/json","sec-fetch-mode":"cors","x-forwarded-for":"172.18.0.1","x-forwarded-host":"n8n.srv1048712.hstgr.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"623b5a2a2295","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"formData":{"email":"anthony.g.camacho@gmail.com","confirmEmail":"anthony.g.camacho@gmail.com","username":"agcamacho","n2cCompanyPage":"qhhtcamacho","companyWebsite":"qhhtcamacho.com","message":["ASDFASDFASDFASD"],"captcha":"true"}},"webhookUrl":"https://n8n.srv1048712.hstgr.cloud/webhook-test/b84c616a-1046-477d-8eaa-99640cb5f27a","executionMode":"test"}}]},"versionId":"8ee28dc4-2e7a-4a26-b378-6a535730862c","activeVersionId":"8ee28dc4-2e7a-4a26-b378-6a535730862c","triggerCount":1,"shared":[{"updatedAt":"2026-02-28T02:43:10.515Z","createdAt":"2026-02-28T02:43:10.515Z","role":"workflow:owner","workflowId":"cRr1prBsVhVd7Pi6bSuPd","projectId":"g9bJh1TxtXie0yir"}],"activeVersion":{"updatedAt":"2026-03-03T20:57:03.000Z","createdAt":"2026-03-03T20:57:00.526Z","versionId":"8ee28dc4-2e7a-4a26-b378-6a535730862c","workflowId":"cRr1prBsVhVd7Pi6bSuPd","nodes":[{"parameters":{"assignments":{"assignments":[{"id":"4444fc42-4de2-48c4-9616-174aaba12f5e","name":"email","value":"={{ $json.body.formData.email }}","type":"string"},{"id":"efcb210d-8954-4414-bbc5-050038a060b7","name":"username","value":"={{ $json.body.formData.username }}","type":"string"},{"id":"0a67562f-9474-4642-b1e5-59ff30f46e50","name":"companyPage","value":"={{ $json.body.formData.n2cCompanyPage }}","type":"string"},{"id":"9ff38027-ba62-4af8-b24c-d83db7e00d52","name":"companyWebsite","value":"={{ $json.body.formData.companyWebsite }}","type":"string"},{"id":"e9983924-0854-4357-817b-70c4644bec66","name":"message","value":"=<p>{{ $json.body.formData.message.join('<p/><p>') }}</p>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,-32],"id":"75b0e9e7-c34d-4aa0-8b50-2a520b26d77b","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-16,-128],"id":"374a29d6-cffe-4fce-86e2-088b30d406ca","name":"When clicking ‘Execute workflow’","disabled":true},{"parameters":{"sendTo":"={{ $json.email }}","subject":"n2continuum :: YouTube Interview information received","message":"=<p>Thank you for reaching out to us for an interview on our YouTube channel.</p>\n\n<p>We have received your message and will get back to you as soon as we can.</p>\n\n<p>~ n2continuum</p>","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[432,64],"id":"a6456c68-efb9-44b2-9460-3b36f5163579","name":"To User","webhookId":"950d4608-8e60-4a79-9b4b-f289b996a07e","credentials":{"gmailOAuth2":{"id":"GKiYYpQvakptVbmM","name":"noreply@n2continuum.com"}}},{"parameters":{"sendTo":"support@n2continuum.com","subject":"=Site :: YouTube Interview","message":"=<p>\nClient's email: {{ $json.email }}<br />\nUsername: {{ $json.username }}<br />\nCompany page: <a href=\"https://n2continuum.com/co/{{ $json.companyPage }}\">https://n2continuum.com/co/{{ $json.companyPage }}</a><br />\nCompany website: <a href=\"https://{{ $json.companyWebsite }}\">https://{{ $json.companyWebsite }}</a>\n</p>\n\n<p>Message:</p>\n{{ $json.message }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[432,-128],"id":"b013606b-d435-4801-8ac4-10fb08f7f63d","name":"To Support","webhookId":"f38f5bb4-743d-4a38-99ff-b94a1d6611b8","credentials":{"gmailOAuth2":{"id":"GKiYYpQvakptVbmM","name":"noreply@n2continuum.com"}}},{"parameters":{"httpMethod":"POST","path":"b84c616a-1046-477d-8eaa-99640cb5f27a","options":{"allowedOrigins":"*"}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-16,64],"id":"2c429927-0cb1-49fd-9d67-8c2726eafaab","name":"Webhook","webhookId":"b84c616a-1046-477d-8eaa-99640cb5f27a"}],"connections":{"Edit Fields":{"main":[[{"node":"To Support","type":"main","index":0},{"node":"To User","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"authors":"Anthony Camacho","name":"Version 8ee28dc4","description":"","autosaved":true},"tags":[{"updatedAt":"2026-03-03T06:37:46.945Z","createdAt":"2026-03-03T06:37:46.945Z","id":"tOLnhzYQwKmiZh7P","name":"n2continuum"}]}