email-messaging/Events-onUpdate.json
{"updatedAt":"2026-03-03T20:09:26.416Z","createdAt":"2026-03-03T18:17:16.413Z","id":"XXHQc1daiyiMgovV","name":"Events onUpdate","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"2a7103d3-8794-4b49-9504-2c9d8aa699c3","options":{"allowedOrigins":"*"}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-16,64],"id":"26c2e026-e7fe-4fec-b680-27e2443a1bf8","name":"Webhook","webhookId":"2a7103d3-8794-4b49-9504-2c9d8aa699c3"},{"parameters":{"assignments":{"assignments":[{"id":"881e0bd7-4385-4327-81f1-947a43c67dc1","name":"attendingEmails","value":"={{ $json.body.attendingEmails }}","type":"array"},{"id":"b708dcda-6e3e-43b8-a765-c2e400fc2880","name":"companyEmail","value":"={{ $json.body.companyEmail }}","type":"string"},{"id":"bfff0be8-42ac-47e5-a938-49814892aafe","name":"eventTitle","value":"={{ $json.body.eventTitle }}","type":"string"},{"id":"4e2bb2ae-9ae2-4ac7-9e5c-d67f6afbcf8c","name":"eventId","value":"={{ $json.body.eventId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,-16],"id":"0887368a-5c98-47ee-ace3-ae5f4da6e6f3","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-16,-144],"id":"8d007b59-56c2-40fe-8158-acd3f5665a3e","name":"When clicking ‘Execute workflow’","disabled":true},{"parameters":{"fieldToSplitOut":"attendingEmails","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[432,-16],"id":"f3a096d7-369e-4293-bb81-4998ed4d240a","name":"Split Out"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[656,-16],"id":"92fd5d70-3a3b-42da-962c-3ac89b7255b0","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[880,-208],"id":"96d0a8f1-45e7-475d-8f0d-06dab6d86030","name":"No Operation, do nothing"},{"parameters":{"sendTo":"={{ $json.attendingEmails }}","subject":"n2continuum :: Event Updated","message":"=<p>There has been an update for event: {{ $('Edit Fields').item.json.eventTitle }}</p>\n\n<p>Check the event to make sure you would still like to attend: <a href=\"https://n2continuum.com/events/{{ $('Edit Fields').item.json.eventId }}\">https://n2continuum.com/events/{{ $('Edit Fields').item.json.eventId }}</a></p>\n\n~ n2continuum","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[1104,80],"id":"6bf12e9a-7376-4ab1-895b-8dcf85b25538","name":"Send a message","webhookId":"d2e53b45-2f06-4628-9c37-54ccff4cfadc","credentials":{"gmailOAuth2":{"id":"GKiYYpQvakptVbmM","name":"noreply@n2continuum.com"}}},{"parameters":{"amount":0.25},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1328,64],"id":"a770c65c-6bb8-4f9c-9668-1c35ec945a4d","name":"Wait","webhookId":"84a693c9-3673-422b-aeb1-87dcea4166e0"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"7965d982-6c42-4bff-8bb7-482f4e3003b6","leftValue":"={{ $('Edit Fields').item.json.companyEmail }}","rightValue":"={{ $json.attendingEmails }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[880,-16],"id":"024c6aeb-9bba-4f9f-ac11-1773d4da2691","name":"If"},{"parameters":{"sendTo":"={{ $('Edit Fields').item.json.companyEmail }}","subject":"n2continuum :: Event Updated","message":"=<p>Your event has been updated and all attendees have been notified.</p>\n\n<p>~ n2continuum</p>","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[1104,-112],"id":"a4c50f6f-3237-4622-9413-1393cf89d1a2","name":"Send a message1","webhookId":"86379fa3-ee64-44e3-90b3-2bc72b17dabe","credentials":{"gmailOAuth2":{"id":"GKiYYpQvakptVbmM","name":"noreply@n2continuum.com"}}}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"If","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If":{"main":[[{"node":"Send a message1","type":"main","index":0}],[{"node":"Send a message","type":"main","index":0}]]},"Send a message1":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"5g6Vzy0gs9X7f1j2","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"14f7514b-68d5-4f0d-b3cf-eea113211d4b","activeVersionId":"14f7514b-68d5-4f0d-b3cf-eea113211d4b","triggerCount":1,"shared":[{"updatedAt":"2026-03-03T18:17:16.421Z","createdAt":"2026-03-03T18:17:16.421Z","role":"workflow:owner","workflowId":"XXHQc1daiyiMgovV","projectId":"g9bJh1TxtXie0yir"}],"activeVersion":{"updatedAt":"2026-03-03T20:09:47.000Z","createdAt":"2026-03-03T20:09:26.417Z","versionId":"14f7514b-68d5-4f0d-b3cf-eea113211d4b","workflowId":"XXHQc1daiyiMgovV","nodes":[{"parameters":{"httpMethod":"POST","path":"2a7103d3-8794-4b49-9504-2c9d8aa699c3","options":{"allowedOrigins":"*"}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-16,64],"id":"26c2e026-e7fe-4fec-b680-27e2443a1bf8","name":"Webhook","webhookId":"2a7103d3-8794-4b49-9504-2c9d8aa699c3"},{"parameters":{"assignments":{"assignments":[{"id":"881e0bd7-4385-4327-81f1-947a43c67dc1","name":"attendingEmails","value":"={{ $json.body.attendingEmails }}","type":"array"},{"id":"b708dcda-6e3e-43b8-a765-c2e400fc2880","name":"companyEmail","value":"={{ $json.body.companyEmail }}","type":"string"},{"id":"bfff0be8-42ac-47e5-a938-49814892aafe","name":"eventTitle","value":"={{ $json.body.eventTitle }}","type":"string"},{"id":"4e2bb2ae-9ae2-4ac7-9e5c-d67f6afbcf8c","name":"eventId","value":"={{ $json.body.eventId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,-16],"id":"0887368a-5c98-47ee-ace3-ae5f4da6e6f3","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-16,-144],"id":"8d007b59-56c2-40fe-8158-acd3f5665a3e","name":"When clicking ‘Execute workflow’","disabled":true},{"parameters":{"fieldToSplitOut":"attendingEmails","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[432,-16],"id":"f3a096d7-369e-4293-bb81-4998ed4d240a","name":"Split Out"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[656,-16],"id":"92fd5d70-3a3b-42da-962c-3ac89b7255b0","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[880,-208],"id":"96d0a8f1-45e7-475d-8f0d-06dab6d86030","name":"No Operation, do nothing"},{"parameters":{"sendTo":"={{ $json.attendingEmails }}","subject":"n2continuum :: Event Updated","message":"=<p>There has been an update for event: {{ $('Edit Fields').item.json.eventTitle }}</p>\n\n<p>Check the event to make sure you would still like to attend: <a href=\"https://n2continuum.com/events/{{ $('Edit Fields').item.json.eventId }}\">https://n2continuum.com/events/{{ $('Edit Fields').item.json.eventId }}</a></p>\n\n~ n2continuum","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[1104,80],"id":"6bf12e9a-7376-4ab1-895b-8dcf85b25538","name":"Send a message","webhookId":"d2e53b45-2f06-4628-9c37-54ccff4cfadc","credentials":{"gmailOAuth2":{"id":"GKiYYpQvakptVbmM","name":"noreply@n2continuum.com"}}},{"parameters":{"amount":0.25},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1328,64],"id":"a770c65c-6bb8-4f9c-9668-1c35ec945a4d","name":"Wait","webhookId":"84a693c9-3673-422b-aeb1-87dcea4166e0"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"7965d982-6c42-4bff-8bb7-482f4e3003b6","leftValue":"={{ $('Edit Fields').item.json.companyEmail }}","rightValue":"={{ $json.attendingEmails }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[880,-16],"id":"024c6aeb-9bba-4f9f-ac11-1773d4da2691","name":"If"},{"parameters":{"sendTo":"={{ $('Edit Fields').item.json.companyEmail }}","subject":"n2continuum :: Event Updated","message":"=<p>Your event has been updated and all attendees have been notified.</p>\n\n<p>~ n2continuum</p>","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[1104,-112],"id":"a4c50f6f-3237-4622-9413-1393cf89d1a2","name":"Send a message1","webhookId":"86379fa3-ee64-44e3-90b3-2bc72b17dabe","credentials":{"gmailOAuth2":{"id":"GKiYYpQvakptVbmM","name":"noreply@n2continuum.com"}}}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"If","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If":{"main":[[{"node":"Send a message1","type":"main","index":0}],[{"node":"Send a message","type":"main","index":0}]]},"Send a message1":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"authors":"Anthony Camacho","name":"Version 14f7514b","description":"","autosaved":true},"tags":[{"updatedAt":"2026-03-03T06:37:46.945Z","createdAt":"2026-03-03T06:37:46.945Z","id":"tOLnhzYQwKmiZh7P","name":"n2continuum"}]}