email-messaging/Events-Reminder.json
{"updatedAt":"2026-03-03T20:07:06.237Z","createdAt":"2026-03-03T01:54:55.981Z","id":"WXPaXfhYETwhufyZITOCQ","name":"Events Reminder","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"fb5e67d9-2ea5-45b5-9cfc-1010054ec6bd","options":{"allowedOrigins":"*"}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-80,-64],"id":"6439f8e6-d77f-43c6-aebf-865065565d47","name":"Webhook","webhookId":"fb5e67d9-2ea5-45b5-9cfc-1010054ec6bd"},{"parameters":{"assignments":{"assignments":[{"id":"c11c837a-c599-4e50-8a90-061da33e8d9d","name":"attendingEmails","value":"={{ $json.body.attendingEmails }}","type":"array"},{"id":"48e13baa-96b8-46aa-80f6-d85171f075bc","name":"title","value":"={{ $json.body.title }}","type":"string"},{"id":"22881fb7-0c34-48fe-8174-9e45d55db844","name":"date","value":"={{ $json.body.date }}","type":"string"},{"id":"b480dcde-9d52-455d-9861-9fb04d2ef2a4","name":"time","value":"={{ $json.body.time }}","type":"string"},{"id":"3629060a-9ff7-4cbb-b6c0-7e59f86c49b2","name":"timezone","value":"={{ $json.body.timezone }}","type":"string"},{"id":"45cb22de-6c5f-4749-9394-1bad5bc131fa","name":"eventId","value":"={{ $json.body.eventId }}","type":"string"},{"id":"c2daf93a-0b34-4f25-a411-eab9e3eaad70","name":"createdByEmail","value":"={{ $json.body.createdByEmail }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[144,-128],"id":"94214f17-888c-460d-98b0-fed54bd4f235","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-80,-256],"id":"aedb452d-fb46-459d-9bfe-018b1479f796","name":"When clicking ‘Execute workflow’","disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[592,-128],"id":"d367d98f-bfef-41a6-823a-6855705c4912","name":"Loop Over Items","alwaysOutputData":false},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[816,-320],"id":"31e8b5e5-2677-4853-a903-f7db09f01776","name":"No Operation, do nothing"},{"parameters":{"fieldToSplitOut":"attendingEmails","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[368,-128],"id":"feaeb82e-ebc9-4f2e-8751-a1db9fb6c3cc","name":"Split Out"},{"parameters":{"amount":0.25},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1264,-64],"id":"ecb4596c-a27e-4fde-8fed-40f71534bec6","name":"Wait","webhookId":"2896bd58-b4b7-42c9-9caa-30b83a30be1d"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"fba238ef-8d94-44b5-998f-dc21234c8610","leftValue":"={{ $('Edit Fields').item.json.createdByEmail }}","rightValue":"={{ $json.attendingEmails }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[816,-128],"id":"82b48462-6b51-4189-b718-92615e381e97","name":"If"},{"parameters":{"sendTo":"={{ $json.attendingEmails }}","subject":"n2continuum :: Event Reminder","message":"=<p>This is a reminder for event: {{ $('Edit Fields').item.json.title }}</p>\n\n<p>Date / Time: {{ $('Edit Fields').item.json.date }} at {{ $('Edit Fields').item.json.time }} {{ $('Edit Fields').item.json.timezone }}</p>\n\n<p>You can find the event details here: <a href=\"https://n2continuum.com/events/{{ $('Edit Fields').item.json.eventId }}\">https://n2continuum.com/events/{{ $('Edit Fields').item.json.eventId }}</a></p>\n\n<p>~ n2continuum</p>\n","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[1040,-32],"id":"57153ddc-3c82-4239-9898-c37525f15590","name":"Attendee","webhookId":"12e542ec-a648-4df6-b5ba-47ef0f66f3d9","credentials":{"gmailOAuth2":{"id":"GKiYYpQvakptVbmM","name":"noreply@n2continuum.com"}}},{"parameters":{"sendTo":"={{ $json.attendingEmails }}","subject":"n2continuum :: Event Reminder","message":"=<p>This is a reminder for event: {{ $('Edit Fields').item.json.title }}</p>\n\n<p>Date / Time: {{ $('Edit Fields').item.json.date }} at {{ $('Edit Fields').item.json.time }} {{ $('Edit Fields').item.json.timezone }}</p>\n\n<p>You can find the event details here: <a href=\"https://n2continuum.com/events/{{ $('Edit Fields').item.json.eventId }}\">https://n2continuum.com/events/{{ $('Edit Fields').item.json.eventId }}</a></p>\n\n<p>~ n2continuum</p>\n","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[1040,-224],"id":"73f17b84-464b-4513-9e8e-12bece1f6fa8","name":"Event Creator","webhookId":"12e542ec-a648-4df6-b5ba-47ef0f66f3d9","credentials":{"gmailOAuth2":{"id":"GKiYYpQvakptVbmM","name":"noreply@n2continuum.com"}}}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"If","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If":{"main":[[{"node":"Event Creator","type":"main","index":0}],[{"node":"Attendee","type":"main","index":0}]]},"Attendee":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Event Creator":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"5g6Vzy0gs9X7f1j2","callerPolicy":"workflowsFromSameOwner","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"20e38440-f30f-4928-a949-9c0cb161f8f0","activeVersionId":"20e38440-f30f-4928-a949-9c0cb161f8f0","triggerCount":1,"shared":[{"updatedAt":"2026-03-03T01:54:55.987Z","createdAt":"2026-03-03T01:54:55.987Z","role":"workflow:owner","workflowId":"WXPaXfhYETwhufyZITOCQ","projectId":"g9bJh1TxtXie0yir"}],"activeVersion":{"updatedAt":"2026-03-03T20:07:08.000Z","createdAt":"2026-03-03T20:07:06.238Z","versionId":"20e38440-f30f-4928-a949-9c0cb161f8f0","workflowId":"WXPaXfhYETwhufyZITOCQ","nodes":[{"parameters":{"httpMethod":"POST","path":"fb5e67d9-2ea5-45b5-9cfc-1010054ec6bd","options":{"allowedOrigins":"*"}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-80,-64],"id":"6439f8e6-d77f-43c6-aebf-865065565d47","name":"Webhook","webhookId":"fb5e67d9-2ea5-45b5-9cfc-1010054ec6bd"},{"parameters":{"assignments":{"assignments":[{"id":"c11c837a-c599-4e50-8a90-061da33e8d9d","name":"attendingEmails","value":"={{ $json.body.attendingEmails }}","type":"array"},{"id":"48e13baa-96b8-46aa-80f6-d85171f075bc","name":"title","value":"={{ $json.body.title }}","type":"string"},{"id":"22881fb7-0c34-48fe-8174-9e45d55db844","name":"date","value":"={{ $json.body.date }}","type":"string"},{"id":"b480dcde-9d52-455d-9861-9fb04d2ef2a4","name":"time","value":"={{ $json.body.time }}","type":"string"},{"id":"3629060a-9ff7-4cbb-b6c0-7e59f86c49b2","name":"timezone","value":"={{ $json.body.timezone }}","type":"string"},{"id":"45cb22de-6c5f-4749-9394-1bad5bc131fa","name":"eventId","value":"={{ $json.body.eventId }}","type":"string"},{"id":"c2daf93a-0b34-4f25-a411-eab9e3eaad70","name":"createdByEmail","value":"={{ $json.body.createdByEmail }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[144,-128],"id":"94214f17-888c-460d-98b0-fed54bd4f235","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-80,-256],"id":"aedb452d-fb46-459d-9bfe-018b1479f796","name":"When clicking ‘Execute workflow’","disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[592,-128],"id":"d367d98f-bfef-41a6-823a-6855705c4912","name":"Loop Over Items","alwaysOutputData":false},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[816,-320],"id":"31e8b5e5-2677-4853-a903-f7db09f01776","name":"No Operation, do nothing"},{"parameters":{"fieldToSplitOut":"attendingEmails","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[368,-128],"id":"feaeb82e-ebc9-4f2e-8751-a1db9fb6c3cc","name":"Split Out"},{"parameters":{"amount":0.25},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1264,-64],"id":"ecb4596c-a27e-4fde-8fed-40f71534bec6","name":"Wait","webhookId":"2896bd58-b4b7-42c9-9caa-30b83a30be1d"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"fba238ef-8d94-44b5-998f-dc21234c8610","leftValue":"={{ $('Edit Fields').item.json.createdByEmail }}","rightValue":"={{ $json.attendingEmails }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[816,-128],"id":"82b48462-6b51-4189-b718-92615e381e97","name":"If"},{"parameters":{"sendTo":"={{ $json.attendingEmails }}","subject":"n2continuum :: Event Reminder","message":"=<p>This is a reminder for event: {{ $('Edit Fields').item.json.title }}</p>\n\n<p>Date / Time: {{ $('Edit Fields').item.json.date }} at {{ $('Edit Fields').item.json.time }} {{ $('Edit Fields').item.json.timezone }}</p>\n\n<p>You can find the event details here: <a href=\"https://n2continuum.com/events/{{ $('Edit Fields').item.json.eventId }}\">https://n2continuum.com/events/{{ $('Edit Fields').item.json.eventId }}</a></p>\n\n<p>~ n2continuum</p>\n","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[1040,-32],"id":"57153ddc-3c82-4239-9898-c37525f15590","name":"Attendee","webhookId":"12e542ec-a648-4df6-b5ba-47ef0f66f3d9","credentials":{"gmailOAuth2":{"id":"GKiYYpQvakptVbmM","name":"noreply@n2continuum.com"}}},{"parameters":{"sendTo":"={{ $json.attendingEmails }}","subject":"n2continuum :: Event Reminder","message":"=<p>This is a reminder for event: {{ $('Edit Fields').item.json.title }}</p>\n\n<p>Date / Time: {{ $('Edit Fields').item.json.date }} at {{ $('Edit Fields').item.json.time }} {{ $('Edit Fields').item.json.timezone }}</p>\n\n<p>You can find the event details here: <a href=\"https://n2continuum.com/events/{{ $('Edit Fields').item.json.eventId }}\">https://n2continuum.com/events/{{ $('Edit Fields').item.json.eventId }}</a></p>\n\n<p>~ n2continuum</p>\n","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[1040,-224],"id":"73f17b84-464b-4513-9e8e-12bece1f6fa8","name":"Event Creator","webhookId":"12e542ec-a648-4df6-b5ba-47ef0f66f3d9","credentials":{"gmailOAuth2":{"id":"GKiYYpQvakptVbmM","name":"noreply@n2continuum.com"}}}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"If","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If":{"main":[[{"node":"Event Creator","type":"main","index":0}],[{"node":"Attendee","type":"main","index":0}]]},"Attendee":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Event Creator":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"authors":"Anthony Camacho","name":"Version 20e38440","description":"","autosaved":true},"tags":[{"updatedAt":"2026-03-03T06:37:46.945Z","createdAt":"2026-03-03T06:37:46.945Z","id":"tOLnhzYQwKmiZh7P","name":"n2continuum"}]}