email-messaging/Events-onComment.json
{"updatedAt":"2026-03-03T20:05:55.649Z","createdAt":"2026-03-03T18:17:53.815Z","id":"VGEx1PwX3iy6LVo3","name":"Events onComment","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"a67162e0-0dfb-41ae-829f-491df64c2464","options":{"allowedOrigins":"*"}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-16,32],"id":"323bd34b-c1ec-492e-9f88-325e1ff4fb89","name":"Webhook","webhookId":"a67162e0-0dfb-41ae-829f-491df64c2464"},{"parameters":{"assignments":{"assignments":[{"id":"0974ee8d-8591-4234-9ad4-b11b85318e34","name":"companyEmail","value":"={{ $json.body.companyEmail }}","type":"string"},{"id":"c4d7dfdf-dae5-4025-b639-f055883beb2b","name":"eventTitle","value":"={{ $json.body.eventTitle }}","type":"string"},{"id":"5a0ed505-5875-4083-8fd4-ee3d10617a83","name":"eventId","value":"={{ $json.body.eventId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,-64],"id":"e9cc8d7f-ae70-4fe9-9499-181fd4b79823","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-16,-160],"id":"a0250ed9-ef3c-47ec-969d-4b3d48b7cb36","name":"When clicking ‘Execute workflow’"},{"parameters":{"sendTo":"={{ $json.companyEmail }}","subject":"n2continuum :: Event Comment Created","message":"=<p>There has been a new comment created on event: {{ $json.eventTitle }}</p>\n\n<p>Your event URL: <a href=\"https://n2con~ n2continuumtinuum.com/events/{{ $json.eventId }}\">https://n2continuum.com/events/{{ $json.eventId }}</a></p>\n\n<p>~ n2continuum</p>","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[432,-64],"id":"eef26ff1-a6aa-4629-b800-1f589dbf71a9","name":"Send a message","webhookId":"241da1a0-dcc9-48a7-bb32-65fc8dbfdc0e","credentials":{"gmailOAuth2":{"id":"GKiYYpQvakptVbmM","name":"noreply@n2continuum.com"}}}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Send a message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a77ccbea-14cc-4b4a-9e05-adfd0b2d76f8","activeVersionId":"a77ccbea-14cc-4b4a-9e05-adfd0b2d76f8","triggerCount":1,"shared":[{"updatedAt":"2026-03-03T18:17:53.819Z","createdAt":"2026-03-03T18:17:53.819Z","role":"workflow:owner","workflowId":"VGEx1PwX3iy6LVo3","projectId":"g9bJh1TxtXie0yir"}],"activeVersion":{"updatedAt":"2026-03-03T20:06:02.000Z","createdAt":"2026-03-03T20:05:55.650Z","versionId":"a77ccbea-14cc-4b4a-9e05-adfd0b2d76f8","workflowId":"VGEx1PwX3iy6LVo3","nodes":[{"parameters":{"httpMethod":"POST","path":"a67162e0-0dfb-41ae-829f-491df64c2464","options":{"allowedOrigins":"*"}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-16,32],"id":"323bd34b-c1ec-492e-9f88-325e1ff4fb89","name":"Webhook","webhookId":"a67162e0-0dfb-41ae-829f-491df64c2464"},{"parameters":{"assignments":{"assignments":[{"id":"0974ee8d-8591-4234-9ad4-b11b85318e34","name":"companyEmail","value":"={{ $json.body.companyEmail }}","type":"string"},{"id":"c4d7dfdf-dae5-4025-b639-f055883beb2b","name":"eventTitle","value":"={{ $json.body.eventTitle }}","type":"string"},{"id":"5a0ed505-5875-4083-8fd4-ee3d10617a83","name":"eventId","value":"={{ $json.body.eventId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,-64],"id":"e9cc8d7f-ae70-4fe9-9499-181fd4b79823","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-16,-160],"id":"a0250ed9-ef3c-47ec-969d-4b3d48b7cb36","name":"When clicking ‘Execute workflow’"},{"parameters":{"sendTo":"={{ $json.companyEmail }}","subject":"n2continuum :: Event Comment Created","message":"=<p>There has been a new comment created on event: {{ $json.eventTitle }}</p>\n\n<p>Your event URL: <a href=\"https://n2con~ n2continuumtinuum.com/events/{{ $json.eventId }}\">https://n2continuum.com/events/{{ $json.eventId }}</a></p>\n\n<p>~ n2continuum</p>","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[432,-64],"id":"eef26ff1-a6aa-4629-b800-1f589dbf71a9","name":"Send a message","webhookId":"241da1a0-dcc9-48a7-bb32-65fc8dbfdc0e","credentials":{"gmailOAuth2":{"id":"GKiYYpQvakptVbmM","name":"noreply@n2continuum.com"}}}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Send a message","type":"main","index":0}]]}},"authors":"Anthony Camacho","name":"Version a77ccbea","description":"","autosaved":true},"tags":[{"updatedAt":"2026-03-03T06:37:46.945Z","createdAt":"2026-03-03T06:37:46.945Z","id":"tOLnhzYQwKmiZh7P","name":"n2continuum"}]}