email-messaging/Events-onRSVP.json
{"updatedAt":"2026-03-03T20:06:13.029Z","createdAt":"2026-03-03T18:18:38.627Z","id":"XU8mMNVvE4TJYL2Q","name":"Events onRSVP","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"ea7e58b2-d6b8-4b70-b4dd-bef5dffadeff","options":{"allowedOrigins":"*"}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"e65b9504-3d21-4ef9-a7eb-747af9a7a5f1","name":"Webhook","webhookId":"ea7e58b2-d6b8-4b70-b4dd-bef5dffadeff"},{"parameters":{"assignments":{"assignments":[{"id":"02dd4f06-6db8-455a-b0c4-2553378b2a12","name":"companyEmail","value":"={{ $json.body.companyEmail }}","type":"string"},{"id":"dcfb4512-e730-4833-8598-047b64bc52d5","name":"eventTitle","value":"={{ $json.body.eventTitle }}","type":"string"},{"id":"a2ef7654-4338-43e8-8e3f-24a5c63fac1f","name":"eventId","value":"={{ $json.body.eventId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,-96],"id":"378f52d2-1d37-4675-aaff-82f14bbd540e","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,-192],"id":"5fd993d1-c7fa-421d-b1a7-3cb894c31875","name":"When clicking ‘Execute workflow’"},{"parameters":{"sendTo":"={{ $json.companyEmail }}","subject":"n2continuum :: Event New RSVP","message":"=<p>There has been a new RSVP on event: {{ $json.eventTitle }}</p>\n\n<p>Your event URL: <a href=\"https://n2continuum.com/events/{{ $json.eventId }}\">https://n2continuum.com/events/{{ $json.eventId }}</a></p>\n\n<p>~ n2continuum</p>","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[448,-96],"id":"0355a8e2-16f6-4651-bdf4-ae5653ba3961","name":"Send a message","webhookId":"88709901-d545-4825-a8a2-82b01502bd5d","credentials":{"gmailOAuth2":{"id":"GKiYYpQvakptVbmM","name":"noreply@n2continuum.com"}}}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Send a message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"44045b42-295f-4383-a984-88c16476a045","activeVersionId":"44045b42-295f-4383-a984-88c16476a045","triggerCount":1,"shared":[{"updatedAt":"2026-03-03T18:18:38.634Z","createdAt":"2026-03-03T18:18:38.634Z","role":"workflow:owner","workflowId":"XU8mMNVvE4TJYL2Q","projectId":"g9bJh1TxtXie0yir"}],"activeVersion":{"updatedAt":"2026-03-03T20:06:16.000Z","createdAt":"2026-03-03T20:06:13.030Z","versionId":"44045b42-295f-4383-a984-88c16476a045","workflowId":"XU8mMNVvE4TJYL2Q","nodes":[{"parameters":{"httpMethod":"POST","path":"ea7e58b2-d6b8-4b70-b4dd-bef5dffadeff","options":{"allowedOrigins":"*"}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"e65b9504-3d21-4ef9-a7eb-747af9a7a5f1","name":"Webhook","webhookId":"ea7e58b2-d6b8-4b70-b4dd-bef5dffadeff"},{"parameters":{"assignments":{"assignments":[{"id":"02dd4f06-6db8-455a-b0c4-2553378b2a12","name":"companyEmail","value":"={{ $json.body.companyEmail }}","type":"string"},{"id":"dcfb4512-e730-4833-8598-047b64bc52d5","name":"eventTitle","value":"={{ $json.body.eventTitle }}","type":"string"},{"id":"a2ef7654-4338-43e8-8e3f-24a5c63fac1f","name":"eventId","value":"={{ $json.body.eventId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,-96],"id":"378f52d2-1d37-4675-aaff-82f14bbd540e","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,-192],"id":"5fd993d1-c7fa-421d-b1a7-3cb894c31875","name":"When clicking ‘Execute workflow’"},{"parameters":{"sendTo":"={{ $json.companyEmail }}","subject":"n2continuum :: Event New RSVP","message":"=<p>There has been a new RSVP on event: {{ $json.eventTitle }}</p>\n\n<p>Your event URL: <a href=\"https://n2continuum.com/events/{{ $json.eventId }}\">https://n2continuum.com/events/{{ $json.eventId }}</a></p>\n\n<p>~ n2continuum</p>","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[448,-96],"id":"0355a8e2-16f6-4651-bdf4-ae5653ba3961","name":"Send a message","webhookId":"88709901-d545-4825-a8a2-82b01502bd5d","credentials":{"gmailOAuth2":{"id":"GKiYYpQvakptVbmM","name":"noreply@n2continuum.com"}}}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Send a message","type":"main","index":0}]]}},"authors":"Anthony Camacho","name":"Version 44045b42","description":"","autosaved":true},"tags":[{"updatedAt":"2026-03-03T06:37:46.945Z","createdAt":"2026-03-03T06:37:46.945Z","id":"tOLnhzYQwKmiZh7P","name":"n2continuum"}]}