email-messaging/Events-onCancelation.json
{"updatedAt":"2026-03-03T21:52:17.676Z","createdAt":"2026-03-03T18:20:09.753Z","id":"fcegvn1n2RzJ1upk","name":"Events onCancelation","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"68f7d530-d9c9-4ef9-b000-2040112f74b3","options":{"allowedOrigins":"*"}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,168],"id":"e65f372e-0a35-4d5f-8269-98998cd2c269","name":"Webhook","webhookId":"68f7d530-d9c9-4ef9-b000-2040112f74b3"},{"parameters":{"assignments":{"assignments":[{"id":"6d5b3238-2063-4151-93a6-c495d8809f57","name":"attendingEmails","value":"={{ $json.body.attendingEmails }}","type":"array"},{"id":"b49d6598-9888-4627-9f70-8a59ff1a9803","name":"eventTitle","value":"={{ $json.body.eventTitle }}","type":"string"},{"id":"3ecfce2e-a2ea-46d3-8593-032b5f3a32dd","name":"companyEmail","value":"={{ $json.body.companyEmail }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,96],"id":"a02f3f6c-be6a-412a-a4a4-afee40f4a103","name":"Edit Fields"},{"parameters":{"fieldToSplitOut":"attendingEmails","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[448,96],"id":"69a9ab17-315d-47d5-b3c9-a21f685ea35d","name":"Split Out"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[672,96],"id":"7e83d2c6-0065-4b25-b7c6-6247ab594f75","name":"Loop Over Items"},{"parameters":{"amount":0.25},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1344,168],"id":"163e16bf-6683-4913-a439-c1e7efcbcec3","name":"Wait","webhookId":"a8fa4466-146f-45b9-9a39-d586a9155994"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[896,-96],"id":"4b388c94-502f-465a-b99e-0f9352ebe37e","name":"No Operation, do nothing"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,-24],"id":"9d014027-1775-436e-b251-6c551fd516de","name":"When clicking ‘Execute workflow’"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"fba238ef-8d94-44b5-998f-dc21234c8610","leftValue":"={{ $('Edit Fields').item.json.companyEmail }}","rightValue":"={{ $json.attendingEmails }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[896,96],"id":"bd571e63-faa3-497c-921c-4913eccd9455","name":"If"},{"parameters":{"sendTo":"={{ $json.attendingEmails }}","subject":"n2continuum :: Event Canceled","message":"=<p>You successfully canceled event: {{ $('Edit Fields').item.json.eventTitle }}</p>\n\n<p>All attendees have been notified.</p>\n\n<p>~ n2continuum</p>\n","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[1120,0],"id":"e3ce72bf-c0d5-4b13-9a59-a4395b6bac8f","name":"Event Creator","webhookId":"12e542ec-a648-4df6-b5ba-47ef0f66f3d9","credentials":{"gmailOAuth2":{"id":"GKiYYpQvakptVbmM","name":"noreply@n2continuum.com"}}},{"parameters":{"sendTo":"={{ $json.attendingEmails }}","subject":"n2continuum :: Event Canceled","message":"=<p>This event has been canceled: {{ $('Edit Fields').item.json.eventTitle }}</p>\n\n<p>Visit the Event search for more upcoming events: <a href=\"https://n2continuum.com/search/events\">https://n2continuum.com/search/events</a></p>\n\n<p>~ n2continuum</p>\n","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[1104,192],"id":"404b5355-7f2e-4450-b876-3e9dbbbea250","name":"Attendee","webhookId":"12e542ec-a648-4df6-b5ba-47ef0f66f3d9","credentials":{"gmailOAuth2":{"id":"GKiYYpQvakptVbmM","name":"noreply@n2continuum.com"}}}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"If","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"If":{"main":[[{"node":"Event Creator","type":"main","index":0}],[{"node":"Attendee","type":"main","index":0}]]},"Event Creator":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Attendee":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"5g6Vzy0gs9X7f1j2","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.srv1048712.hstgr.cloud","user-agent":"node","content-length":"150","accept":"*/*","accept-encoding":"br, gzip, deflate","accept-language":"*","content-type":"application/json","sec-fetch-mode":"cors","x-forwarded-for":"172.18.0.1","x-forwarded-host":"n8n.srv1048712.hstgr.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"d50038e59a70","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"eventTitle":"pppppppppppppp","attendingEmails":["anthony.g.camacho@gmail.com","n2continuum@gmail.com"],"companyEmail":"anthony.g.camacho@gmail.com"},"webhookUrl":"https://n8n.srv1048712.hstgr.cloud/webhook-test/68f7d530-d9c9-4ef9-b000-2040112f74b3","executionMode":"test"},"pairedItem":{"item":0}}]},"versionId":"950c71f2-6e39-4263-b682-33411129c8b1","activeVersionId":"950c71f2-6e39-4263-b682-33411129c8b1","triggerCount":1,"shared":[{"updatedAt":"2026-03-03T18:20:09.755Z","createdAt":"2026-03-03T18:20:09.755Z","role":"workflow:owner","workflowId":"fcegvn1n2RzJ1upk","projectId":"g9bJh1TxtXie0yir"}],"activeVersion":{"updatedAt":"2026-03-03T21:52:07.000Z","createdAt":"2026-03-03T21:51:55.353Z","versionId":"950c71f2-6e39-4263-b682-33411129c8b1","workflowId":"fcegvn1n2RzJ1upk","nodes":[{"parameters":{"httpMethod":"POST","path":"68f7d530-d9c9-4ef9-b000-2040112f74b3","options":{"allowedOrigins":"*"}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,168],"id":"e65f372e-0a35-4d5f-8269-98998cd2c269","name":"Webhook","webhookId":"68f7d530-d9c9-4ef9-b000-2040112f74b3"},{"parameters":{"assignments":{"assignments":[{"id":"6d5b3238-2063-4151-93a6-c495d8809f57","name":"attendingEmails","value":"={{ $json.body.attendingEmails }}","type":"array"},{"id":"b49d6598-9888-4627-9f70-8a59ff1a9803","name":"eventTitle","value":"={{ $json.body.eventTitle }}","type":"string"},{"id":"3ecfce2e-a2ea-46d3-8593-032b5f3a32dd","name":"companyEmail","value":"={{ $json.body.companyEmail }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,96],"id":"a02f3f6c-be6a-412a-a4a4-afee40f4a103","name":"Edit Fields"},{"parameters":{"fieldToSplitOut":"attendingEmails","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[448,96],"id":"69a9ab17-315d-47d5-b3c9-a21f685ea35d","name":"Split Out"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[672,96],"id":"7e83d2c6-0065-4b25-b7c6-6247ab594f75","name":"Loop Over Items"},{"parameters":{"amount":0.25},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1344,168],"id":"163e16bf-6683-4913-a439-c1e7efcbcec3","name":"Wait","webhookId":"a8fa4466-146f-45b9-9a39-d586a9155994"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[896,-96],"id":"4b388c94-502f-465a-b99e-0f9352ebe37e","name":"No Operation, do nothing"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,-24],"id":"9d014027-1775-436e-b251-6c551fd516de","name":"When clicking ‘Execute workflow’"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"fba238ef-8d94-44b5-998f-dc21234c8610","leftValue":"={{ $('Edit Fields').item.json.companyEmail }}","rightValue":"={{ $json.attendingEmails }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[896,96],"id":"bd571e63-faa3-497c-921c-4913eccd9455","name":"If"},{"parameters":{"sendTo":"={{ $json.attendingEmails }}","subject":"n2continuum :: Event Canceled","message":"=<p>You successfully canceled event: {{ $('Edit Fields').item.json.eventTitle }}</p>\n\n<p>All attendees have been notified.</p>\n\n<p>~ n2continuum</p>\n","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[1120,0],"id":"e3ce72bf-c0d5-4b13-9a59-a4395b6bac8f","name":"Event Creator","webhookId":"12e542ec-a648-4df6-b5ba-47ef0f66f3d9","credentials":{"gmailOAuth2":{"id":"GKiYYpQvakptVbmM","name":"noreply@n2continuum.com"}}},{"parameters":{"sendTo":"={{ $json.attendingEmails }}","subject":"n2continuum :: Event Canceled","message":"=<p>This event has been canceled: {{ $('Edit Fields').item.json.eventTitle }}</p>\n\n<p>Visit the Event search for more upcoming events: <a href=\"https://n2continuum.com/search/events\">https://n2continuum.com/search/events</a></p>\n\n<p>~ n2continuum</p>\n","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[1104,192],"id":"404b5355-7f2e-4450-b876-3e9dbbbea250","name":"Attendee","webhookId":"12e542ec-a648-4df6-b5ba-47ef0f66f3d9","credentials":{"gmailOAuth2":{"id":"GKiYYpQvakptVbmM","name":"noreply@n2continuum.com"}}}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"If","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"If":{"main":[[{"node":"Event Creator","type":"main","index":0}],[{"node":"Attendee","type":"main","index":0}]]},"Event Creator":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Attendee":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"authors":"Anthony Camacho","name":"Version 950c71f2","description":"","autosaved":true},"tags":[{"updatedAt":"2026-03-03T06:37:46.945Z","createdAt":"2026-03-03T06:37:46.945Z","id":"tOLnhzYQwKmiZh7P","name":"n2continuum"}]}