email-messaging/New-User-Welcome-Email.json
{"updatedAt":"2026-03-03T06:38:18.835Z","createdAt":"2026-02-02T03:48:19.171Z","id":"-hqSYOkemfx7V6yOrm39_","name":"New User Welcome Email","active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"98e75c8e-5f7d-4ed3-9a50-9d42c7e3a8fc","name":"email","value":"={{ $json.body.email }}","type":"string"},{"id":"4297b85b-f2fd-4418-8995-32ddadd5fc51","name":"username","value":"={{ $json.body.username }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,-16],"id":"e53c5b42-5afd-4611-85aa-e008f700619f","name":"Edit Fields"},{"parameters":{"httpMethod":"POST","path":"19d82444-2016-49f9-a9c0-a29f1bed7a96","options":{"allowedOrigins":"*"}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,80],"id":"cc67b3b4-f089-4d82-9063-eb8893b9bf96","name":"Webhook","webhookId":"19d82444-2016-49f9-a9c0-a29f1bed7a96"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,-112],"id":"7744e0dd-2033-4cca-b676-03b1cd3984d3","name":"When clicking ‘Execute workflow’"},{"parameters":{"sendTo":"={{ $json.email }}","subject":"Welcome to n2continuum","message":"=<p>Hello and welcome,</p>\n\n<p>Thank you for joining n2continuum. We’re truly grateful you’re here.</p>\n\n<p>n2continuum was created as a dedicated space for the metaphysical and energy healing community - a place where seekers, healers, authors, and creators can connect in one shared environment.</p>\n\n<p>Now that you’re here, you can:</p>\n<ul>\n<li>Discover local and online events</li>\n<li>Connect with practitioners</li>\n<li>Share and find metaphysical and transformational books</li>\n<li>Watch and video content</li>\n<li>Build meaningful connections within the community</li>\n</ul>\n\n<p>If you offer services or run an energy healing business, you can also:</p>\n<ul>\n<li>Create your own company page</li>\n<li>List your services in the public search</li>\n<li>Host events (in-person or online)</li>\n<li>Share videos and teachings</li>\n<li>Increase your visibility with aligned clients</li>\n</ul>\n\n<p>We encourage you to visit the <a href=\"https://n2continuum.com/welcome\">Welcome Page</a> to explore everything available to you and begin setting up your profile.</p>\n\n<p>On the Welcome Page you will also find the eBook, <i>\"Awakening the Conitnuum: A Journey to Your Higher-Self\"</i></p>\n\n<p>You can manage your email preferences by going to: user navigation -> account</p>\n\n<p>Welcome to the continuum.</p>\n\n<p>With appreciation,<br/>Founder, n2continuum</p>\n","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[448,-16],"id":"19714b6a-1e25-42ad-92b8-09072b304484","name":"Send a message1","webhookId":"e2ffcb7e-89da-4c10-8400-a82e64b3dd41","credentials":{"gmailOAuth2":{"id":"GKiYYpQvakptVbmM","name":"noreply@n2continuum.com"}}}],"connections":{"Edit Fields":{"main":[[{"node":"Send a message1","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Send a message1":{"main":[[]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.srv1048712.hstgr.cloud","user-agent":"node","content-length":"98","accept":"*/*","accept-encoding":"br, gzip, deflate","accept-language":"*","content-type":"application/json","sec-fetch-mode":"cors","x-forwarded-for":"172.18.0.1","x-forwarded-host":"n8n.srv1048712.hstgr.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"623b5a2a2295","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"userId":"An0AYQXMAaa5TF53yEYDR4gaCZf1","email":"n2continuum@gmail.com","username":"n2continuum"},"webhookUrl":"https://n8n.srv1048712.hstgr.cloud/webhook-test/19d82444-2016-49f9-a9c0-a29f1bed7a96","executionMode":"test"},"pairedItem":{"item":0}}],"When clicking ‘Execute workflow’":[{"json":{"headers":{"host":"n8n.srv1048712.hstgr.cloud","user-agent":"node","content-length":"98","accept":"*/*","accept-encoding":"br, gzip, deflate","accept-language":"*","content-type":"application/json","sec-fetch-mode":"cors","x-forwarded-for":"172.18.0.1","x-forwarded-host":"n8n.srv1048712.hstgr.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"623b5a2a2295","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"userId":"An0AYQXMAaa5TF53yEYDR4gaCZf1","email":"anthony.g.camacho@gmail.com","username":"n2continuum"},"webhookUrl":"https://n8n.srv1048712.hstgr.cloud/webhook-test/19d82444-2016-49f9-a9c0-a29f1bed7a96","executionMode":"test"}}]},"versionId":"4fca6181-dffc-4b42-8891-acfc2aed4bb4","activeVersionId":"14fc0ff8-1d23-4d12-ac9c-09d499753e66","triggerCount":1,"shared":[{"updatedAt":"2026-02-02T03:48:19.182Z","createdAt":"2026-02-02T03:48:19.182Z","role":"workflow:owner","workflowId":"-hqSYOkemfx7V6yOrm39_","projectId":"g9bJh1TxtXie0yir"}],"activeVersion":{"updatedAt":"2026-02-25T03:48:44.000Z","createdAt":"2026-02-25T03:48:42.837Z","versionId":"14fc0ff8-1d23-4d12-ac9c-09d499753e66","workflowId":"-hqSYOkemfx7V6yOrm39_","nodes":[{"parameters":{"assignments":{"assignments":[{"id":"98e75c8e-5f7d-4ed3-9a50-9d42c7e3a8fc","name":"email","value":"={{ $json.body.email }}","type":"string"},{"id":"4297b85b-f2fd-4418-8995-32ddadd5fc51","name":"username","value":"={{ $json.body.username }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,-16],"id":"e53c5b42-5afd-4611-85aa-e008f700619f","name":"Edit Fields"},{"parameters":{"httpMethod":"POST","path":"19d82444-2016-49f9-a9c0-a29f1bed7a96","options":{"allowedOrigins":"*"}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,80],"id":"cc67b3b4-f089-4d82-9063-eb8893b9bf96","name":"Webhook","webhookId":"19d82444-2016-49f9-a9c0-a29f1bed7a96"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,-112],"id":"7744e0dd-2033-4cca-b676-03b1cd3984d3","name":"When clicking ‘Execute workflow’"},{"parameters":{"sendTo":"={{ $json.email }}","subject":"Welcome to n2continuum","message":"=<p>Hello and welcome,</p>\n\n<p>Thank you for joining n2continuum. We’re truly grateful you’re here.</p>\n\n<p>n2continuum was created as a dedicated space for the metaphysical and energy healing community - a place where seekers, healers, authors, and creators can connect in one shared environment.</p>\n\n<p>Now that you’re here, you can:</p>\n<ul>\n<li>Discover local and online events</li>\n<li>Connect with practitioners</li>\n<li>Share and find metaphysical and transformational books</li>\n<li>Watch and video content</li>\n<li>Build meaningful connections within the community</li>\n</ul>\n\n<p>If you offer services or run an energy healing business, you can also:</p>\n<ul>\n<li>Create your own company page</li>\n<li>List your services in the public search</li>\n<li>Host events (in-person or online)</li>\n<li>Share videos and teachings</li>\n<li>Increase your visibility with aligned clients</li>\n</ul>\n\n<p>We encourage you to visit the <a href=\"https://n2continuum.com/welcome\">Welcome Page</a> to explore everything available to you and begin setting up your profile.</p>\n\n<p>On the Welcome Page you will also find the eBook, <i>\"Awakening the Conitnuum: A Journey to Your Higher-Self\"</i></p>\n\n<p>Welcome to the continuum.</p>\n\n<p>With appreciation,<br/>Founder, n2continuum</p>\n","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[448,-16],"id":"19714b6a-1e25-42ad-92b8-09072b304484","name":"Send a message1","webhookId":"e2ffcb7e-89da-4c10-8400-a82e64b3dd41","credentials":{"gmailOAuth2":{"id":"GKiYYpQvakptVbmM","name":"noreply@n2continuum.com"}}}],"connections":{"Edit Fields":{"main":[[{"node":"Send a message1","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Send a message1":{"main":[[]]}},"authors":"Anthony Camacho","name":"Version 14fc0ff8","description":"","autosaved":false},"tags":[{"updatedAt":"2026-03-03T06:37:46.945Z","createdAt":"2026-03-03T06:37:46.945Z","id":"tOLnhzYQwKmiZh7P","name":"n2continuum"}]}