email-messaging/New-Company-Welcome-Email.json
{"updatedAt":"2026-03-03T06:38:11.342Z","createdAt":"2026-02-02T03:48:37.487Z","id":"wWct9J3RMYGQq2HaUm_nt","name":"New Company Welcome Email","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"e0e9ac63-b017-43af-ad77-e355cbefac9a","options":{"allowedOrigins":"*"}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[80,224],"id":"95109a87-e48a-48e7-9499-d8aaa52efd1d","name":"Webhook","webhookId":"e0e9ac63-b017-43af-ad77-e355cbefac9a","notesInFlow":false},{"parameters":{"assignments":{"assignments":[{"id":"98e75c8e-5f7d-4ed3-9a50-9d42c7e3a8fc","name":"email","value":"={{ $json.body.email }}","type":"string"},{"id":"36a78e36-61b6-4b10-bf08-b939ee16c5f2","name":"username","value":"={{ $json.body.username }}","type":"string"},{"id":"63ddd760-7394-42ef-a866-b391e9230d27","name":"companyName","value":"={{ $json.body.companyName }}","type":"string"},{"id":"daadc189-16c5-4e87-9ad1-dc8001633c98","name":"companyPathname","value":"={{ $json.body.companyPathname }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[304,128],"id":"dd870ba0-c70a-43e0-ae09-5cbbf62681de","name":"Edit Fields"},{"parameters":{"sendTo":"={{ $json.email }}","subject":"New Company Page on n2continuum","message":"=<p>You have successfully created company page for: <b>{{ $json.companyName }}</b></p>\n\n<p>You company page is located at: <a href=\"https://n2continuum.com/co/{{ $json.companyPathname }}\">https://n2continuum.com/co/{{ $json.companyPathname }}</a>.</p>\n\n<p>Spruce up your company page:</p>\n<ul>\n<li>Customize your company page to align with your company branding.</li>\n<li>Add your services to your commpany page, which will show up in the public services search.</li>\n<li>Create events that you hold promoting your services.</li>\n</ul>\n\n<p>Let us help with your marketing:</p>\n<ul>\n<li>Sign up for an interview that will be pubished on our YouTube channel: <a href=\"https://site.n2continuum.com/youtube-interview\">https://site.n2continuum.com/youtube-interview</a></li>\n<li>After the interview is published on YouTube we will create a blog post and share on our Facebook group.</li>\n<li>We only ask that you share and use n2continuum to help grow your business. As well as continue to receive our emails where we share some of the marketing automation services we provide throught the parent company n2cDigital.</li>\n</ul>\n\n<p>If you are interested in learning more about the types of automation services we provide to boost your marketing efforts, get a Discovery Call scheduled: <a href=\"https://n2cdigital.com/starthere\">https://n2cdigital.com/starthere</a></p>\n\n<p>You can manage your email preferences by going to: user navigation -> account</p>\n\n<p>Thank you so much for being a part of n2continuum.</p>\n\n\n","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[528,128],"id":"43f47354-efca-4688-81a8-cc84457805cb","name":"Send a message1","webhookId":"e2ffcb7e-89da-4c10-8400-a82e64b3dd41","credentials":{"gmailOAuth2":{"id":"GKiYYpQvakptVbmM","name":"noreply@n2continuum.com"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[80,32],"id":"1b868698-f6f1-4658-87d5-f33bf912fba2","name":"When clicking ‘Execute workflow’","disabled":true}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Send a message1","type":"main","index":0}]]},"Send a message1":{"main":[[]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.srv1048712.hstgr.cloud","user-agent":"node","content-length":"116","accept":"*/*","accept-encoding":"br, gzip, deflate","accept-language":"*","content-type":"application/json","sec-fetch-mode":"cors","x-forwarded-for":"172.18.0.1","x-forwarded-host":"n8n.srv1048712.hstgr.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"623b5a2a2295","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"username":"AGCamacho","email":"anthony.g.camacho@gmail.com","companyName":"asdfasdf","companyPathname":"asdfasdf"},"webhookUrl":"https://n8n.srv1048712.hstgr.cloud/webhook-test/e0e9ac63-b017-43af-ad77-e355cbefac9a","executionMode":"test"}}],"When clicking ‘Execute workflow’":[{"json":{"headers":{"host":"n8n.srv1048712.hstgr.cloud","user-agent":"node","content-length":"116","accept":"*/*","accept-encoding":"br, gzip, deflate","accept-language":"*","content-type":"application/json","sec-fetch-mode":"cors","x-forwarded-for":"172.18.0.1","x-forwarded-host":"n8n.srv1048712.hstgr.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"623b5a2a2295","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"username":"AGCamacho","email":"anthony.g.camacho@gmail.com","companyName":"asdfasdf","companyPathname":"asdfasdf"},"webhookUrl":"https://n8n.srv1048712.hstgr.cloud/webhook-test/e0e9ac63-b017-43af-ad77-e355cbefac9a","executionMode":"test"}}]},"versionId":"fcee5e01-a9ad-40f9-a362-6ba7967d3bd7","activeVersionId":"fcee5e01-a9ad-40f9-a362-6ba7967d3bd7","triggerCount":1,"shared":[{"updatedAt":"2026-02-02T03:48:37.492Z","createdAt":"2026-02-02T03:48:37.492Z","role":"workflow:owner","workflowId":"wWct9J3RMYGQq2HaUm_nt","projectId":"g9bJh1TxtXie0yir"}],"activeVersion":{"updatedAt":"2026-03-03T06:15:46.000Z","createdAt":"2026-03-03T06:14:57.608Z","versionId":"fcee5e01-a9ad-40f9-a362-6ba7967d3bd7","workflowId":"wWct9J3RMYGQq2HaUm_nt","nodes":[{"parameters":{"httpMethod":"POST","path":"e0e9ac63-b017-43af-ad77-e355cbefac9a","options":{"allowedOrigins":"*"}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[80,224],"id":"95109a87-e48a-48e7-9499-d8aaa52efd1d","name":"Webhook","webhookId":"e0e9ac63-b017-43af-ad77-e355cbefac9a","notesInFlow":false},{"parameters":{"assignments":{"assignments":[{"id":"98e75c8e-5f7d-4ed3-9a50-9d42c7e3a8fc","name":"email","value":"={{ $json.body.email }}","type":"string"},{"id":"36a78e36-61b6-4b10-bf08-b939ee16c5f2","name":"username","value":"={{ $json.body.username }}","type":"string"},{"id":"63ddd760-7394-42ef-a866-b391e9230d27","name":"companyName","value":"={{ $json.body.companyName }}","type":"string"},{"id":"daadc189-16c5-4e87-9ad1-dc8001633c98","name":"companyPathname","value":"={{ $json.body.companyPathname }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[304,128],"id":"dd870ba0-c70a-43e0-ae09-5cbbf62681de","name":"Edit Fields"},{"parameters":{"sendTo":"={{ $json.email }}","subject":"New Company Page on n2continuum","message":"=<p>You have successfully created company page for: <b>{{ $json.companyName }}</b></p>\n\n<p>You company page is located at: <a href=\"https://n2continuum.com/co/{{ $json.companyPathname }}\">https://n2continuum.com/co/{{ $json.companyPathname }}</a>.</p>\n\n<p>Spruce up your company page:</p>\n<ul>\n<li>Customize your company page to align with your company branding.</li>\n<li>Add your services to your commpany page, which will show up in the public services search.</li>\n<li>Create events that you hold promoting your services.</li>\n</ul>\n\n<p>Let us help with your marketing:</p>\n<ul>\n<li>Sign up for an interview that will be pubished on our YouTube channel: <a href=\"https://site.n2continuum.com/youtube-interview\">https://site.n2continuum.com/youtube-interview</a></li>\n<li>After the interview is published on YouTube we will create a blog post and share on our Facebook group.</li>\n<li>We only ask that you share and use n2continuum to help grow your business. As well as continue to receive our emails where we share some of the marketing automation services we provide throught the parent company n2cDigital.</li>\n</ul>\n\n<p>If you are interested in learning more about the types of automation services we provide to boost your marketing efforts, get a Discovery Call scheduled: <a href=\"https://n2cdigital.com/starthere\">https://n2cdigital.com/starthere</a></p>\n\n<p>You can manage your email preferences by going to: user navigation -> account</p>\n\n<p>Thank you so much for being a part of n2continuum.</p>\n\n\n","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[528,128],"id":"43f47354-efca-4688-81a8-cc84457805cb","name":"Send a message1","webhookId":"e2ffcb7e-89da-4c10-8400-a82e64b3dd41","credentials":{"gmailOAuth2":{"id":"GKiYYpQvakptVbmM","name":"noreply@n2continuum.com"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[80,32],"id":"1b868698-f6f1-4658-87d5-f33bf912fba2","name":"When clicking ‘Execute workflow’","disabled":true}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Send a message1","type":"main","index":0}]]},"Send a message1":{"main":[[]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"authors":"Anthony Camacho","name":"Version fcee5e01","description":"","autosaved":true},"tags":[{"updatedAt":"2026-03-03T06:37:46.945Z","createdAt":"2026-03-03T06:37:46.945Z","id":"tOLnhzYQwKmiZh7P","name":"n2continuum"}]}