email-messaging/Services-Verify-Email-Response.json
{"updatedAt":"2026-03-03T06:38:27.379Z","createdAt":"2026-02-02T22:16:50.261Z","id":"m934DPOXJpZtMwVC9XPXE","name":"Services Verify Email Response","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"180f8afc-9adf-452d-a3d7-e29c47c0bb8a","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,-96],"id":"09974485-ceda-473f-8aed-5b99637c2a8b","name":"Webhook","webhookId":"180f8afc-9adf-452d-a3d7-e29c47c0bb8a"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.type }}","rightValue":"pending","operator":{"type":"string","operation":"equals"},"id":"48eb91b1-b298-4021-b743-bd59db46668e"}],"combinator":"and"},"renameOutput":true,"outputKey":"pending"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"3b2d2ed0-e3b4-4985-b2f1-5199b30a681a","leftValue":"={{ $json.type }}","rightValue":"removed","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"removed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"797bc4a0-e989-4bc9-b714-1e4e5ef93075","leftValue":"={{ $json.type }}","rightValue":"verified","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"verified"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[448,-208],"id":"0f727ce2-8aa5-48d3-8d05-d10679aefb88","name":"Switch"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[896,-384],"id":"fe452775-0815-43aa-90bc-5ddc0c5e8efd","name":"No Operation, do nothing"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[896,-192],"id":"7f1e5edf-21df-493f-851a-1a07bf34bd40","name":"No Operation, do nothing1"},{"parameters":{"assignments":{"assignments":[{"id":"6f33d250-cea0-417a-ae4f-ae22c76c002c","name":"type","value":"={{ $json.body.type }}","type":"string"},{"id":"575b2a02-4e84-4af4-92ba-0813cd23dd63","name":"companyName","value":"={{ $json.body.companyName }}","type":"string"},{"id":"c7cd68cd-493d-4d87-a0cd-c3fbbad89236","name":"companyPathname","value":"={{ $json.body.companyPathname }}","type":"string"},{"id":"65bca457-6edf-4969-a108-8500c7872268","name":"email","value":"={{ $json.body.email }}","type":"string"},{"id":"dc3c2bee-239e-4961-8c87-7374efb29c2f","name":"username","value":"={{ $json.body.username }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,-192],"id":"107da03f-744a-46c6-9680-683d4de72a1f","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,-288],"id":"050827de-efd0-4cb4-af01-f0d7dc40d879","name":"When clicking ‘Execute workflow’","disabled":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[896,0],"id":"c0e71cb7-542a-4447-83f7-40cada38532c","name":"No Operation, do nothing2"},{"parameters":{"sendTo":"={{ $json.email }}","subject":"n2continuum :: Time to reverify your services","message":"=<p>Hi <b>{{ $json.username }}</b>,</p>\n\n<p>It's time to reverify your services on for your company page: {{ $json.companyName }}</p>\n\n<p><b>Steps:</b>\n<ol>\n<li>Login to account: <a href=\"https://n2continuum.com\">https://n2continuum.com</a>\n<li>Go to your company page in \"edit\" mode: <a href=\"https://n2continuum.com/co/{{ $json.companyPathname }}/edit\">https://n2continuum.com/co/{{ $json.companyPathname }}/edit</a></li>\n<li>Scroll down to the Services section and click the \"Verify\" button.</li>\n</ol>\n</p>\n\n<p>\n<b>Q:</b> Why Do I have to reverify my services?<br />\n<b>A:</b> We are asking you to reverify your services periodically. This is to help keep the users search results for services up-to-date and relevant.\n</p>\n\n<p>You can manage your email preferences by going to: user navigation -> account</p>","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[672,-384],"id":"bb853145-a1ca-474e-9a24-b67574951fa4","name":"Send pending email","webhookId":"6dbddb11-4c40-441e-a9c9-be48a1498d8f","credentials":{"gmailOAuth2":{"id":"GKiYYpQvakptVbmM","name":"noreply@n2continuum.com"}}},{"parameters":{"sendTo":"={{ $('Edit Fields').item.json.email }}","subject":"n2continuum :: Your services are no longer in search","message":"=<p>It's time to reverify your services on for your company page: {{ $json.companyName }}</p>\n\n<p>At the current moment, your services are not showing up on the public services search.</p> \n\n<p>You need to verify you are still in business and providing the services you have listed on your n2continuum company page.</p>\n\n<p><b>Steps:</b>\n<ol>\n<li>Login to account: <a href=\"https://n2continuum.com\">https://n2continuum.com</a>\n<li>Go to your company page in \"edit\" mode: <a href=\"https://n2continuum.com/co/{{ $json.companyPathname }}/edit\">https://n2continuum.com/co/{{ $json.companyPathname }}/edit</a></li>\n<li>Scroll down to the Services section and click the \"Verify\" button.</li>\n</ol>\n</p>\n\n<p>\n<b>Q:</b> Why Do I have to reverify my services?<br />\n<b>A:</b> We are asking you to reverify your services periodically. This is to help keep the users search results for services up-to-date and relevant.\n</p>\n\n<p>You can manage your email preferences by going to: user navigation -> account</p>","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[672,-192],"id":"fd18bfbc-3e2f-44c2-a5c1-2d5781fa2fa1","name":"Send remove email","webhookId":"62368266-a810-48a6-b43c-712f938e3061","credentials":{"gmailOAuth2":{"id":"GKiYYpQvakptVbmM","name":"noreply@n2continuum.com"}}},{"parameters":{"sendTo":"={{ $('Edit Fields').item.json.email }}","subject":"n2continuum :: Thank you for verifying your services","message":"=<p>You have successfully verified your services. Your services will continue to appear in the public services search results</p>\n\n<p>n2cDigital (the parent company to n2continuum) provides marketing solutions for small to mid sized businesses: <a href=\"https://n2cDigital.com\">https://n2cDigital.com</a><p>\n\n\n\n","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[672,0],"id":"c5338d94-bafd-422f-b25d-8dfa75d382cd","name":"Send verified email","webhookId":"085bf40b-180b-4ae9-8d02-3964fe51a073","credentials":{"gmailOAuth2":{"id":"GKiYYpQvakptVbmM","name":"noreply@n2continuum.com"}}}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Send pending email","type":"main","index":0}],[{"node":"Send remove email","type":"main","index":0}],[{"node":"Send verified email","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Switch","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Send pending email":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Send remove email":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Send verified email":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"5g6Vzy0gs9X7f1j2"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When clicking ‘Execute workflow’":[{"json":{"headers":{"host":"n8n.srv1048712.hstgr.cloud","user-agent":"node","content-length":"140","accept":"*/*","accept-encoding":"br, gzip, deflate","accept-language":"*","content-type":"application/json","sec-fetch-mode":"cors","x-forwarded-for":"172.18.0.1","x-forwarded-host":"n8n.srv1048712.hstgr.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"623b5a2a2295","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"type":"pending","companyName":"QHHT Camacho","companyPathname":"qhhtcamacho","email":"anthony.g.camacho@gmail.com","username":"AGCamacho"},"webhookUrl":"https://n8n.srv1048712.hstgr.cloud/webhook-test/180f8afc-9adf-452d-a3d7-e29c47c0bb8a","executionMode":"test"}}]},"versionId":"98d54491-54bd-4ee7-9387-8223d586b735","activeVersionId":"98d54491-54bd-4ee7-9387-8223d586b735","triggerCount":1,"shared":[{"updatedAt":"2026-02-02T22:16:50.298Z","createdAt":"2026-02-02T22:16:50.298Z","role":"workflow:owner","workflowId":"m934DPOXJpZtMwVC9XPXE","projectId":"g9bJh1TxtXie0yir"}],"activeVersion":{"updatedAt":"2026-03-03T00:55:14.000Z","createdAt":"2026-03-03T00:55:12.255Z","versionId":"98d54491-54bd-4ee7-9387-8223d586b735","workflowId":"m934DPOXJpZtMwVC9XPXE","nodes":[{"parameters":{"httpMethod":"POST","path":"180f8afc-9adf-452d-a3d7-e29c47c0bb8a","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,-96],"id":"09974485-ceda-473f-8aed-5b99637c2a8b","name":"Webhook","webhookId":"180f8afc-9adf-452d-a3d7-e29c47c0bb8a"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.type }}","rightValue":"pending","operator":{"type":"string","operation":"equals"},"id":"48eb91b1-b298-4021-b743-bd59db46668e"}],"combinator":"and"},"renameOutput":true,"outputKey":"pending"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"3b2d2ed0-e3b4-4985-b2f1-5199b30a681a","leftValue":"={{ $json.type }}","rightValue":"removed","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"removed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"797bc4a0-e989-4bc9-b714-1e4e5ef93075","leftValue":"={{ $json.type }}","rightValue":"verified","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"verified"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[448,-208],"id":"0f727ce2-8aa5-48d3-8d05-d10679aefb88","name":"Switch"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[896,-384],"id":"fe452775-0815-43aa-90bc-5ddc0c5e8efd","name":"No Operation, do nothing"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[896,-192],"id":"7f1e5edf-21df-493f-851a-1a07bf34bd40","name":"No Operation, do nothing1"},{"parameters":{"assignments":{"assignments":[{"id":"6f33d250-cea0-417a-ae4f-ae22c76c002c","name":"type","value":"={{ $json.body.type }}","type":"string"},{"id":"575b2a02-4e84-4af4-92ba-0813cd23dd63","name":"companyName","value":"={{ $json.body.companyName }}","type":"string"},{"id":"c7cd68cd-493d-4d87-a0cd-c3fbbad89236","name":"companyPathname","value":"={{ $json.body.companyPathname }}","type":"string"},{"id":"65bca457-6edf-4969-a108-8500c7872268","name":"email","value":"={{ $json.body.email }}","type":"string"},{"id":"dc3c2bee-239e-4961-8c87-7374efb29c2f","name":"username","value":"={{ $json.body.username }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,-192],"id":"107da03f-744a-46c6-9680-683d4de72a1f","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,-288],"id":"050827de-efd0-4cb4-af01-f0d7dc40d879","name":"When clicking ‘Execute workflow’","disabled":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[896,0],"id":"c0e71cb7-542a-4447-83f7-40cada38532c","name":"No Operation, do nothing2"},{"parameters":{"sendTo":"={{ $json.email }}","subject":"n2continuum :: Time to reverify your services","message":"=<p>Hi <b>{{ $json.username }}</b>,</p>\n\n<p>It's time to reverify your services on for your company page: {{ $json.companyName }}</p>\n\n<p><b>Steps:</b>\n<ol>\n<li>Login to account: <a href=\"https://n2continuum.com\">https://n2continuum.com</a>\n<li>Go to your company page in \"edit\" mode: <a href=\"https://n2continuum.com/co/{{ $json.companyPathname }}/edit\">https://n2continuum.com/co/{{ $json.companyPathname }}/edit</a></li>\n<li>Scroll down to the Services section and click the \"Verify\" button.</li>\n</ol>\n</p>\n\n<p>\n<b>Q:</b> Why Do I have to reverify my services?<br />\n<b>A:</b> We are asking you to reverify your services periodically. This is to help keep the users search results for services up-to-date and relevant.\n</p>\n\n<p>You can manage your email preferences by going to: user navigation -> account</p>","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[672,-384],"id":"bb853145-a1ca-474e-9a24-b67574951fa4","name":"Send pending email","webhookId":"6dbddb11-4c40-441e-a9c9-be48a1498d8f","credentials":{"gmailOAuth2":{"id":"GKiYYpQvakptVbmM","name":"noreply@n2continuum.com"}}},{"parameters":{"sendTo":"={{ $('Edit Fields').item.json.email }}","subject":"n2continuum :: Your services are no longer in search","message":"=<p>It's time to reverify your services on for your company page: {{ $json.companyName }}</p>\n\n<p>At the current moment, your services are not showing up on the public services search.</p> \n\n<p>You need to verify you are still in business and providing the services you have listed on your n2continuum company page.</p>\n\n<p><b>Steps:</b>\n<ol>\n<li>Login to account: <a href=\"https://n2continuum.com\">https://n2continuum.com</a>\n<li>Go to your company page in \"edit\" mode: <a href=\"https://n2continuum.com/co/{{ $json.companyPathname }}/edit\">https://n2continuum.com/co/{{ $json.companyPathname }}/edit</a></li>\n<li>Scroll down to the Services section and click the \"Verify\" button.</li>\n</ol>\n</p>\n\n<p>\n<b>Q:</b> Why Do I have to reverify my services?<br />\n<b>A:</b> We are asking you to reverify your services periodically. This is to help keep the users search results for services up-to-date and relevant.\n</p>\n\n<p>You can manage your email preferences by going to: user navigation -> account</p>","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[672,-192],"id":"fd18bfbc-3e2f-44c2-a5c1-2d5781fa2fa1","name":"Send remove email","webhookId":"62368266-a810-48a6-b43c-712f938e3061","credentials":{"gmailOAuth2":{"id":"GKiYYpQvakptVbmM","name":"noreply@n2continuum.com"}}},{"parameters":{"sendTo":"={{ $('Edit Fields').item.json.email }}","subject":"n2continuum :: Thank you for verifying your services","message":"=<p>You have successfully verified your services. Your services will continue to appear in the public services search results</p>\n\n<p>n2cDigital (the parent company to n2continuum) provides marketing solutions for small to mid sized businesses: <a href=\"https://n2cDigital.com\">https://n2cDigital.com</a><p>\n\n\n\n","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[672,0],"id":"c5338d94-bafd-422f-b25d-8dfa75d382cd","name":"Send verified email","webhookId":"085bf40b-180b-4ae9-8d02-3964fe51a073","credentials":{"gmailOAuth2":{"id":"GKiYYpQvakptVbmM","name":"noreply@n2continuum.com"}}}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Send pending email","type":"main","index":0}],[{"node":"Send remove email","type":"main","index":0}],[{"node":"Send verified email","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Switch","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Send pending email":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Send remove email":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Send verified email":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}]]}},"authors":"Anthony Camacho","name":"Version 98d54491","description":"","autosaved":false},"tags":[{"updatedAt":"2026-03-03T06:37:46.945Z","createdAt":"2026-03-03T06:37:46.945Z","id":"tOLnhzYQwKmiZh7P","name":"n2continuum"}]}